[2017-11-01 09:28] literarymachine commented on #1034
@acka47 can you take a look and assist @tamielbr with crowdin and all of that?

[2017-11-01 09:33] literarymachine commented on #1128
Ah, right! Currently you can only see your own description if you wrote one for a lighthouse. We'll have to change that! @formimkontext do you have an idea for a UI element? I guess we could just show the lighthouse descriptions just like comments below the entry...

Yes, I just put them there because AFAIK we did not have another concept yet.

It narrows down the results, but more importantly it

[2017-11-02 07:46] karindr commented on #1128
I like the idea of putting the buttons to the filters. We can explain in a mouse over text that the change the order of the resultlist too.

[2017-11-02 11:12] j0hj0h opened #1383 "Endless spinner at "to-modal-on-load" routes"
E.g. `/user/register`

[2017-11-02 14:13] j0hj0h commented on #1228
done ... (don't know where and when)

[2017-11-02 14:13] #1228 closed

[2017-11-02 15:25] j0hj0h commented on #1086
@literarymachine and me discussed a solution for the "Add to the map now" functionality in the intro section:

It will just link to the corresponding form to add the resource. In case this is loaded without being logged in there will be an info box at the top of the form, saying something like: "You are contributing without being logged in. The data you enter will be reviewed and most likely publi

[2017-11-02 16:13] j0hj0h opened #1385 "Consider changing label for resource type "Service""
Susan D'Antoni commented in context of the discussion about the landingpage #1086:

As this has been a comment from other native speakers as well, we might consider renaming services. In #1340 (Define Subcategories for Services), repositories is already suggested as a subcategory. So the new word has to be broader. Could it be one of the following?

- OER Source
- Source
- Resource

[2017-11-03 12:50] acka47 commented on #1385
In the [FAQ for editors](https://github.com/hbz/oerworldmap/wiki/FAQs-for-OER-World-Map-editors#service-organization-or-project) we write:

The only alternative name I can think of is the one we use in that description: "offer" or "online offer"

[2017-11-03 13:07] j0hj0h commented on #1385
As we have "Tools" now as a main category, we can move all offers which provide "functionalities" there and reduce it to offers providing "content" ... which gives the possibility to name it more specific.

[2017-11-03 17:08] formimkontext commented on #1086
current draft for the landingpage. icons within the first section are not final, but we wanted to show an discuss the concept.

i also made some suggestions (in german) for the texts of the contribution-section. i think we should follow a more narrative and / or asking approach in our communication.

the layout and content of the menu / header-bar is not final. we should discuss this in another is

[2017-11-06 08:17] trugwaldsaenger commented on #1385
I think things will become much clearer when we have the subcategories included, because everybody can see then, what kind of services exist. I think we should not change the structure of our datamodel in a hurry...

[2017-11-06 09:21] acka47 commented on #1385
We should definitely keep in mind that we also have the "Tool" type when finalizing the subcategorization of "Service". Looking at #1340, at least one sub-category ("Authoring tools", maybe also "Learning platform") should rather be typed as "Tool" than as "Service".

Anyway, what's the status of the sub-categories for "Service"? The PR at https://github.com/hbz/vocabs-edu/pull/26 is open for two

[2017-11-07 14:59] j0hj0h commented on #1385
I don't say we should change anything in hurry, but discuss it again. I just picked it up, because @trugwaldsaenger posted Susan's comment in the landingpage google doc, and I think that it is a serious problem, that one who is not familiar with our datamodel yet, could quickly end up with the question "Where are the OER?", without finding an intuitive answer – just because of the wording.

[2017-11-07 15:13] j0hj0h commented on #1086
@trugwaldsaenger, I made a suggestion for the slides in [the google doc](https://docs.google.com/document/d/1kmDJdBMUBszRk2Fwk6NMECJ3LMIFGHKTzEIm_CDbATk) (section 4.)

[2017-11-07 20:31] formimkontext commented on #1124
This is how the News-site could look like, being part of the "static" sites. @karindr can you provide some realistic content (maybe with pictures) as an example of a message?

![20171107-desktop-news](https://user-images.githubusercontent.com/15141949/32516122-8b619208-c402-11e7-8ba6-289e1ec928a3.png)

[2017-11-07 20:37] formimkontext commented on #905
New draft of the FAQ page. The answers are hidden in the akkordeon and will be shown by clicking on the +-button.

![20171107-desktop-faq](https://user-images.githubusercontent.com/15141949/32516505-df5245be-c403-11e7-8713-c9c345d012fa.png)

[2017-11-08 08:54] karindr commented on #905
So much better!

[2017-11-08 08:55] karindr commented on #1124
Not before next week, sorry!

[2017-11-08 15:55] formimkontext commented on #1086
update 2017.11.08.:
* new example for highlighted features section
* added contact section

[20171108-desktop-welcome-splashscreen](https://user-images.githubusercontent.com/15141949/32558425-fe879e06-c4a4-11e7-8bc6-011876d71a33.png)

[2017-11-09 14:50] philboeselager commented on #1367
Having done some investigation, it seems that the only solution for eliciting (reconciliation) search hits like the ones mentioned above is to change Elasticsearch "must" option to "should" [here](https://github.com/hbz/oerworldmap/blob/master/app/services/repository/ElasticsearchRepository.java#L426).

While this works fine for the desired reconciliation, it destroys the desired restrictions test

[2017-11-13 10:12] philboeselager commented on #1367
OK, then I'm going to do it like that.

[2017-11-13 10:42] literarymachine commented on #1367
Sorry, I can't really tell if this is practical. Does it lead to many false-positives for the non edge-cases?

[2017-11-13 14:24] #1383 closed

[2017-11-13 14:26] #1358 closed

[2017-11-14 10:42] karindr commented on #1086
I'm not shure if the subscription to the mailinglist is so important that it should be the only part that is orange. Maybe there should be more parts in orange?

Didn't we agree that there should be a kind of news section for announcements and teasers from blog articles and so on?

[2017-11-14 11:32] karindr opened #1387 "Typed in "edu" but did not become "Education Labs""
When choosing the organisator for an event I typed in "edu" but did not become "Education Labs" as Suggestion, see:
![image](https://user-images.githubusercontent.com/18674205/32777661-5d2c5c94-c937-11e7-9148-991f5bc9d27b.png)
When I type "Qual" there is "Education Labs" as 5. entry, see:
![image](https://user-images.githubusercontent.com/18674205/32777739-9fe2e4ae-c937-11e7-9a7c-e3d8898777b1.png)

[2017-11-14 11:37] literarymachine commented on #1387
If you type in "Education labs" you should get the entry you are looking for:

![screenshot from 2017-11-14 12-37-03](https://user-images.githubusercontent.com/149825/32777972-92d9e89c-c938-11e7-812f-39567182bed1.png)

[2017-11-14 11:48] karindr commented on #1387
Yes, but why are other entries with Education in it in the list? No user will understand this behaviour.

[2017-11-14 11:56] karindr opened #1388 "Documentation of some aspects of the json export"
Some aspacts of the json export are not very easy to understand. We should think of a kind of documentation like the one for the api see #630.

For the Atlas we had some problems with the subjects wher the information about the hierarchy is a bit hidden in the n-number at the end of the id. This would be nice if this would be documented somewhere because this also allows the sorting of the subject

[2017-11-14 12:03] literarymachine commented on #1086
I think this is currently meant to be a separate page, see https://github.com/hbz/oerworldmap/issues/1124#issuecomment-342612622

[2017-11-14 12:14] formimkontext commented on #1086
we said, that we could add new and remove current sections if needed. @karindr if you provide an example for content of the news section i will integrate that into the layout.

[2017-11-15 11:13] literarymachine commented on #1387
The request is the same as [this one](https://oerworldmap.org/resource/?filter.about.@type=Organization&filter.about.@type=Person&filter.about.@type=Action&size=10&q=edu*) one the world map, order is by relevance. We could [limit the search to the `name` field](https://oerworldmap.org/resource/?filter.about.@type=Organization&filter.about.@type=Person&filter.about.@type=Action&size=10&q=about.name

[2017-11-15 15:01] acka47 commented on #1034
I must have overlooked this. Sorry for the belated answer.

Yes, we are doing all the translation stuff on CrowdIn by now, see https://crowdin.com/project/oerworldmap.

Please login to CrowdIn (create an account first or login with GitHub, Twitter etc.) and use their interface for translation. You can select Portuguese and then start translating strings from the different files. It is quite intuit

[2017-11-15 16:44] formimkontext opened #1389 "Don’t accept wrong URL"
While testing the forms and provoking some validation errors, i found out, that the template does accept URL like http://www.formimkontext  Even this might be a rather rare appearing error, it should not be possible.

[2017-11-16 10:57] karindr commented on #1124
You can take the teasers and pictures from the blog as example:
https://oerworldmap.wordpress.com/

[2017-11-16 10:59] karindr commented on #1086
See #1124 . The teasers and pictures from the blogs homepage are good examples.

[2017-11-17 10:57] j0hj0h commented on #1124
I have in mind, that the news should have a different scope than the blog. My understanding is:

- **NEWS** announce new functionalities / tease new or outstanding content
- **BLOG** teammeetings, conferences, new atlas is out ...

@karindr do you agree? If so, can you maybe select some posts from the blog, that would fit into the **NEWS** – maybe change the title/wording accordingly?

[2017-11-20 10:47] literarymachine commented on #1347
As discussed offline with @trugwaldsaenger `Organization`, `Service`, `Action`, `Event` and `WebPage` will get an `award` field as described in https://github.com/hbz/oerworldmap/issues/1347#issuecomment-334410976. At a later stage we can discuss a more elaborate mechanism, e.g. based on a SKOS vocab.

[2017-11-20 11:43] trugwaldsaenger commented on #1347
@gandalfar: Would this be interesting for OEC as well?

[2017-11-20 11:52] trugwaldsaenger opened #1390 "How can we link content from OERinfo (and other sites) with the OER World Map?"
OERinfo is currently producing many news related to national and international OER projects and initiatives. It would be great, if we could link these contents better with the OER World Map. Ideally the linking should be done bidirectionally:

From OERinfo to the World Map:
An easy solution would be that the editor, who publishes a news on OERinfo looks up, which World Map entry is related to his/

[2017-11-21 09:48] karindr commented on #1364
That is not the point. What is irritating is that the filter works in different ways depending on how big my browser window is.
In some cases it would be nice to get al list of for example organisations and projects for a country.

[2017-11-21 10:12] karindr opened #1391 "Include URL into searching"
In many cases an easy way to find a service, project and so on on the map would be to enter middle part of the url (oerafrica from http://www.oerafrica.org/ for example). This sould be leading to the entry. So you don't have to know how th name is separated by spaces.

Coming from twitter it is often the url you know not the correct spelling of the name.
Example: edulabs.de -> "edulabs" doesn't le

[2017-11-21 12:53] acka47 commented on #1391
I am not sure whether including the URL could also have some bad effects. (An example could be a service like Tutory from which a lot of resources are added to the map. Searching for tutory would then give back all those resources...)

Another option to address this problem could be to add the strings as abbreviations to the index...

[2017-11-21 12:57] literarymachine commented on #17
@karindr discovered a bug with the current implementation that prevents saving `URL` when `availableLanguage` is set. Since the above example seems to be the only case of adding a link to an API documentation so far, is it OK if I revert the changes and give this another thought?

[2017-11-21 13:24] trugwaldsaenger commented on #17
OK!

[2017-11-21 13:30] trugwaldsaenger commented on #1391
Sounds like a reasonable idea to me. @acka47 concerns make sense as well, though this seems to be more a problem of the future. @acka47, I`m not sure if I understand your proposal correctly. Could you please explain a little bit more, especially how "adding strings as abbreviations" could help avoiding the drawbacks you described?

[2017-11-21 13:34] acka47 commented on #1391
Regarding the concrete example: By now you can find https://oerworldmap.org/resource/urn:uuid:52cc0850-12d5-4d53-ada7-4489e5cba5fc when [searching for "edulabs"](https://oerworldmap.org/resource/?q=edulabs) because I added the string "edulabs" as abbreviation to the entry.

[2017-11-21 14:30] trugwaldsaenger commented on #1391
Many thanks for explaining. Looks interesting, but is one more processing step. I`m afraid, it will be hard to teach our users this...

[2017-11-21 14:58] literarymachine commented on #1128
As said in https://github.com/hbz/oerworldmap/issues/1128#issuecomment-341052599, the lighthouse count is more a search order than a filter. So I would like to keep the orange buttons as an interim solution for now integrate it to the filter section when implementing #946 in the new UI.

The descriptions are now available above the comments, below the item information.

Also, the lighthouse now ha

[2017-11-21 15:02] acka47 commented on #1391
I thought more about @karindr adding ti when she notices the first time that a search doesn't work. However, I created a list of all URLs currently in the OER World Map, see https://gist.github.com/acka47/af69b7006cfc1da51ea894909b81b04f. Please take a look at this and if you still think it makes sense to split up the URL for search then we can have a go.

[2017-11-21 15:45] trugwaldsaenger commented on #1391
Just discussed this issue with @acka47. We considered that this might be a good thing to discuss in the wider search engine optimization, maybe during our next team-meeting. He will discuss this issue with @literarymachine.

[2017-11-21 16:11] trugwaldsaenger commented on #1128
Look pretty nice, many thanks!
Two comments:

1) When setting a lighthouse, you are asked to give a short comment. On the comment template, it says "Lighthouse Service" and "Description" (the following questionmark icon does not provide any comment). I think we should make this a bit more helpfull, maybe by giving a concrete work instruction: "Please tell us, what makes this entry an lighthouse."

[2017-11-21 16:19] trugwaldsaenger commented on #1086
I guess other examples could be the highlighting of a new OER World Map entry: "Great new project by Open Osmosis" or our call for action: "Please help us to understand your needs better and fill out our survey, it will take you as little as 10 minutes!" So these examples are more like our tweeds.

[2017-11-22 09:25] karindr commented on #1391
Adding the part of the url as abbreviation is no solution, because these two are only sometimes identical. Adding a part of the url to what is used for searching would be a first step to get less false negatives as we do at the moment.

Search engine optimization is a good point for the next meeting.

[2017-11-22 09:26] karindr commented on #1128
I agree to Jan, that the texts in the template should be more specific.

I assume only admins can see the little trash symbol near the comments and are able to delete comments from other people. Is that right?

The title above the lighthouse comments is not clear so far, suggestion: Title ”Lighthouse Comments” and this text: “Read why this service/project etc. is considered to be a lighthouse serv

[2017-11-22 11:01] karindr commented on #1387
That is interesting! Because the number of suggestions in the list is changing while typing I assumed that always all search results are shown which is not true. So I would have started to enter the organisation a second time if I would not have been so sure that it allready exists! To avoid this we could add the possibility for the user to click at the end of the list and see more results. That w

[2017-11-22 15:48] literarymachine commented on #1128
On beta.

On beta.

Yes, feel free to make a second non-admin account on beta to test stuff like this.

On beta.

On beta.

[2017-11-22 16:35] trugwaldsaenger commented on #1128
Looks pretty good to me! If @karindr does not find any new issues, we can put it to production tomorrow!

[2017-11-22 16:40] trugwaldsaenger commented on #1128
Two comments for the next iteration:

1) I think we have discussed the position of the likehouse bottom. I think it should be just over the list, close to the bottom, which will allow alphabetical order of the list.

2) At the moment it seems not to work in combination with the filters. In the next iteration we should bring this together, so that we can see, eg. which services received the most li

[2017-11-23 08:40] karindr commented on #1128
Only one point: There is still a lightbulb in the orange button, not a lighthouse. All other things are ok.

[2017-11-23 10:55] trugwaldsaenger commented on #1128
+1 We should fix this. Many thanks @karindr.  Looking forward to see it on production!

[2017-11-23 11:47] literarymachine commented on #1128
On beta. I can deploy this in the afternoon, but it will require a ~10 Minute downtime.

Maybe a short blog post about this new feature would be appropriate?

[2017-11-23 11:50] trugwaldsaenger commented on #1128
Perfect! Please go ahead and deploy! I also think that a blog post is a good idea - allready working on it!

[2017-11-23 12:08] karindr commented on #1128
It will take a bit of time to have the German translation (I can do the translation on Monday when the new sentences appear on crowdin, afterwards it the translation has to be deploid).

[2017-11-23 14:32] literarymachine commented on #1347
On beta, where I assigned the [badges for the OER DE16 award](https://beta.oerworldmap.org/resource/?q=&filter.about.award=https%3A%2F%2Fopen-educational-resources.de%2Fwp-content%2Fuploads%2Foerde16_logo_award.png&filter.about.keywords=oer-award+2016). To assign a badge, look for the `Award` field at the bottom of the input form and input the URL of the badge image there. Use [this one](https://o

[2017-11-24 08:11] trugwaldsaenger commented on #1128
@literarymachine, do you think that we could add lighthouses to the "recently updated section"?

[2017-11-24 11:20] gandalfar commented on #1347
OEC would be interested in participating. If you provide specification for badges/icon we'll provide the graphic.

For Open Education Awards, we have different graphic each year. I assume you would like just a single one that can be used throughout the years for all the award winners?

[2017-11-27 11:11] literarymachine commented on #1128
This should be expanded to all types except `Person`.

[2017-11-27 11:43] karindr commented on #1347
@gandalfar , for the OERaward there are different  grafics each year too. That will be no problem.

[2017-11-27 11:50] karindr commented on #1347
Is there a possibility to avoid that the badge becomes so blurry? In the case of the OER Award you cant even read the name!

Did we speak about the position? If the badge is as small as it is at the momnet it could be also in the same line as the lighthouse but on the right side.

[2017-11-27 13:27] literarymachine commented on #1347
Since we are linking to an [existing image](https://open-educational-resources.de/wp-content/uploads/oerde16_logo_award.png) there is not much that we can do. Scaling down raster images has this effect.

No, we did not yet. This is a first version ideally to be deployed in time for tonight's OER awards.

[2017-11-27 14:21] #1128 closed

[2017-11-27 14:36] literarymachine commented on #1128
Do you mean the [feed](https://oerworldmap.org/feed/)? Not without some additional thought, e.g. a `LighthouseAction` itself does not have a name to show as a title. But I think something like *Max Mustermann starred OER World Map* or *John Doe marked OER World Map as a lighthouse Service* would are good examples of what @j0hj0h and @formimkontext envision as entries for a timeline à la Facebook.

[2017-11-30 11:34] karindr opened #1396 "Organisation with address in Germany is not found by country filter Germany"
Denkfehler ;-)

[2017-11-30 11:45] literarymachine opened #1397 "Cannot save Event with dates in `YYYY-MM-DD TT:MM` format"
In the JSON schema, we should restrict dates to the Elasticsearch `dateOptionalTime` format.

[2017-11-30 11:46] #1396 closed

[2017-11-30 13:58] trugwaldsaenger opened #1398 "Seach Engine Optimisation: OER Librarian Network in Dropdown"
We just included the OER Librarian Network Germany to the map. If people now want to affiliate to this network, they have to use the "member of" field in their profile. The field offers proposals, as soon as you start searching. Quite irritating is, that "OER Librarians Network" is not even displayed on the list before you type in 5 or 6 characters. So if you look for "OER L" and get "The William

[2017-12-01 07:55] acka47 commented on #758
A logo for GitHub is also missing. Just noticed it when setting a link to my profile on GitHub at https://oerworldmap.org/resource/urn:uuid:1fc889ad-28eb-496d-ad6a-3020b1380850

[2017-12-04 10:32] karindr opened #1399 "Possibility to change to the county view changes with zoom level"
For example this entry:
https://oerworldmap.org/resource/urn:uuid:1737153e-5728-41ef-b98f-ca10bd81d25f
In the originally shown zoom level I can change to the country view, but when I zoom out this possibility is no longer given until I zoomed out 5 times. This makes no sense to me, I think it is a bug.

[2017-12-06 10:30] karindr opened #1400 "Make background white for transparent logos in country champion box"
If a logo of a county champion is transparent it has a white background in the right column and a blue background in the country champion box in the country view:
![image](https://user-images.githubusercontent.com/18674205/33657046-5c90340c-da78-11e7-8dc6-0e790876f9c4.png)
This should be consistent and white in both cases.

[2017-12-06 10:32] karindr commented on #1400
Another problem here: the logos are cut of. We only hab pictures of people in mind! What can we do here?

[2017-12-07 10:46] karindr opened #1401 "Add help text for publications in personal profile"
We had a user asking for a publication to link to from her personal profile. She did not recognise that she has the possibility to add publications to the list by adding them to the OER World Map. Because the own personal profile is the first profile a user is working with it would be very helpful to add a hint there and it would be good to have this hint in the other templates (organisation, proj

[2017-12-07 15:12] formimkontext commented on #829
Just checked the registration flow at about.me. The ›profiles elsewhere‹ at there website are called ›social links‹ which i found more appropriate. You can set those social links by chosing the social network at first, selecting one of 50 displayed social network logos. This makes it easy to only show dedicated icons of ›profiles elsewhere‹. We could change the ›profile elsewhere‹ field in our for

[2017-12-07 15:16] formimkontext commented on #829
#758

[2017-12-07 15:19] formimkontext commented on #758
See #829

[2017-12-07 16:24] formimkontext commented on #1316
Maybe just use this icon for tools: http://fontawesome.io/icon/wrench/

[2017-12-07 18:32] formimkontext commented on #1124
I agree with @j0hj0h: With the blog we can share meta information about the project OER World Map. News are / should be directly related to the content of the OER World Map. This is what the news section of the new landingpage is about, right?

[2017-12-07 18:53] formimkontext commented on #1364
So this is a bug. We agreed on the fact, that the main type filter is a ›or‹ button. It should work this way on every device. If you want to change the general behaviour of the main type filter, we should change the design of it, too.

[2017-12-11 10:01] karindr commented on #1364
"or" is ok to me.

[2017-12-11 18:51] trugwaldsaenger commented on #1128
This sounds like a reasonable solution to me.

[2017-12-11 19:37] trugwaldsaenger commented on #1347
I guess, we are pretty flexible. @formimkontext: Could you please tell @gandalfar how to achieve best resutls?

No, one grafic per year will be perfectly fine!

[2017-12-12 10:34] trugwaldsaenger commented on #611
This is still an important issue. Just had to change an publication into a service (https://oerworldmap.org/resource/urn:uuid:1111c470-c067-4dc6-816f-490839408eda).

[2017-12-12 10:48] trugwaldsaenger opened #1402 "Should we implement discourse?"
After I got a little bit into discourse I think it might be worth thinking if we could and should implement it for the world map.

Here are some rough ideas, how this might look like:

- own hosted instance
- integrated into the oer world map website
- login provided with OER World Map Login
- plugin, which allows bidirectional linking to world map entries

I wonder, if we could use it for handlin

[2017-12-12 11:03] acka47 commented on #1402
Re. using discourse for world map comments see also https://github.com/hbz/oerworldmap/issues/12#issuecomment-239777038 and following. (Using discourse for commenting would mean that people have to navigate to the forum before commenting.)

[2017-12-12 11:04] literarymachine commented on #1402
See https://github.com/hbz/oerworldmap/issues/12#issuecomment-239777038 for previous thoughts on this.

[2017-12-12 12:06] trugwaldsaenger commented on #1402
This certainly would not be a good solution. So I guess it would need modification for this use case...

[2017-12-15 13:23] j0hj0h commented on #1086
Updated draft by @formimkontext with news section ...
[20171215-desktop-welcome-splashscreen](https://user-images.githubusercontent.com/3071485/34043968-712d741a-e1a3-11e7-94ad-5d6a61bc15f6.png)

[2017-12-15 14:55] #1218 closed

[2017-12-18 07:55] trugwaldsaenger opened #1407 "Search-optimization: Sächsische OER Tage"
If I search for "sächsische OER Tage" no results are found. Searching for "sächsische**n** OER Tage" brings the right result (https://oerworldmap.org/resource/urn:uuid:751c2006-4601-4c43-935b-4f7380784dd3).

[2017-12-20 09:59] karindr commented on #1272
Publications are a great possibility to add entries to countries with only few entries, so it would be great to give them al localisation so the are counted for heat map and country view! The localisation should be optional. We have for example a publication on OER in Oman and one on OER in India.

[2017-12-20 12:35] philboeselager commented on #1106
@literarymachine Is there anything to be done (for me)?

[2017-12-20 12:49] literarymachine commented on #1106
No. I was waiting for @trugwaldsaenger to provide an actual real world use case to import some stuff, but there seems to be none.

[2017-12-20 13:42] philboeselager commented on #1106
So, let's close it and reopen it in case of reald world data.

[2017-12-20 13:48] literarymachine commented on #1106
I think we should merge https://github.com/hbz/oerworldmap/pull/1195 and then close this, no?

[2017-12-20 13:50] philboeselager commented on #1106
+1

[2017-12-20 14:48] philboeselager commented on #1367
I don't think so. We will evaluate that using real world reconciliation. If we find that this is the case, we can revert this `should` easily.

The (imo.) only alternative to this "should" approach is giving the data one or several alternative name(s), "BC Campus" in this case.

[2017-12-20 15:15] philboeselager commented on #1117
@trugwaldsaenger @karindr So, is this the way we should go for?

[2017-12-20 15:31] philboeselager commented on #1407
@literarymachine : Following the idea of solving this by the means of using stemming in the Elasticsearch mapping:

- we would need to use different stemmers for different languages.
- therefore, we would need to re-write our mapping from
`"name" : {"@value" : "<value>", "@language" : "<language>"}`
to
`"name_<language1>" : { "@value : "<value1>" },
"name_<language2>" : { "@value : "<value2>" }`,

[2017-12-20 16:03] philboeselager commented on #1391
This is not a severe problem, because you are allowed to add multiple abbreviations (stored in an `alternateName` array on the backend side).

On the other hand, we could index the host part of a URL by the means of the [Elasticsearch Pattern Analyzer](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-pattern-analyzer.html). Agree, @literarymachine ?

[2017-12-21 12:03] philboeselager commented on #1407
Following the approach of multiple `"name_<language>"` fields, we would have to rewrite the Json coming from the frontend the way described above.

The thing is that we would need to configure our mapping so that it contains all languages provided by our frontend, right? So, every occurance of

    ": {
      "properties": {
        "@value": {
          "fields": {
            "simple_tokenized":

[2017-12-21 12:21] literarymachine commented on #1407
I would give this a try: https://www.elastic.co/guide/en/elasticsearch/guide/current/mixed-lang-fields.html

[2017-12-21 12:25] literarymachine commented on #1407
I.e. the "Analyze multiple times" approach described there.

[2017-12-21 14:15] philboeselager commented on #1407
Fine for me as long as we are confident with only featuring a few languages. The argument that most text passages are written in English is strong. Also, I'm not sure if providing fuzzy search for all languages would provide better user experience in rare languages.

Following your suggestion, @literarymachine , the resulting mapping structure would look like:

    "name": {
      "properties": {

[2018-01-02 11:10] karindr opened #1409 "Show the list of entries a person has "lighthoused" on the persons profile"
It would be useful for us to be able to see if a person has chosen lighthouses and which entries a person has chosen as lighthouses to analyse who we should ask to add some or some more lighthouses.

It would be also interesting for visitors to see for example "Which projects has Joeran chosen as lighthouses?"

[2018-01-03 11:09] acka47 commented on #1407
I am not sure whether this would help here, but @literarymachine and I discussed once or twice to use the "language maps" approach for language tagging in JSON-LD as outlined in the [spec in paragraph 4.10](https://json-ld.org/spec/latest/json-ld/#string-internationalization), see example 37.

For this, we would add `"@container": "@language"` in the context for all properties we want to use alngu

[2018-01-03 13:52] acka47 opened #1410 "Replace Mapzen API"
Unfortunately, Mapzen is shutting down, see https://mapzen.com/blog/shutdown/

We are obviously using it for location lookups in the web form, see
https://github.com/hbz/oerworldmap/blob/4390ec43bb681989939e3e40625386ea7464d09c/public/javascripts/behaviours/resource-form-widgets/place.js#L190 and #64.

We will have to find another solution until the end of January. For lobid, we have a pelias serv

[2018-01-04 12:57] dr0i commented on #1410
We should be able add the global data to our pelias instance. At http://pelias.io/install.html it's said that would need 330GB in an ES index, which is pretty much. At lobid we have a two-node cluster without replica i.e. we would need 330/2 GB =160 GB per server. At the moment we have ~200GB per server free, so that would tightly fit.

[2018-01-08 11:30] karindr commented on #1347
Interesting new development: A registered user from Spain added links to their website and a blogpost to them winning an award. That was not, what we were thinking of, but this also an interesting way to do it.
https://oerworldmap.org/resource/urn:uuid:15fdc244-c227-42a4-bf87-907c8a4fcc0f

Have a look at an example I built on beta: https://beta.oerworldmap.org/resource/urn:uuid:7650225d-82f3-4b68-

[2018-01-08 11:39] karindr opened #1411 "Shown entry does not change although I am clicking on other pins"
https://oerworldmap.org/resource/urn:uuid:749aaf9e-e5b1-44ee-b93d-3f2f0809cf2d#urn:uuid:562e7627-b327-4638-858d-8b244cad5891

In this part of the map shown on the left side I can click on the other pins for persons and so on but nothing happens. I stay with Dr. Bodo Röbel.

![image](https://user-images.githubusercontent.com/18674205/34669167-c8b48c34-f470-11e7-871f-93b04278141f.png)

[2018-01-08 11:44] literarymachine commented on #1411
Ouch, looks like a bug I introduced with https://github.com/hbz/oerworldmap/commit/cff91c55eddacca75cbdc5d27c86e39f4fda4564!

[2018-01-08 12:53] philboeselager commented on #1117
Having talked with @karindr about this issue more specifically, it appears that the distinction described above is a question of sorting (when seen from the technical side).

- The behaviour that feels "Google like" and which offers "top results" is based on "intelligent" an multidimensional search. Unlike Google and due to our project's capacities, we have to keep our search mechanism in the synt

[2018-01-08 14:21] #1411 closed

[2018-01-08 15:26] trugwaldsaenger commented on #1347
+1

[2018-01-09 08:46] karindr opened #1412 "Subject of confirmation mail for newletter registration is strange"
See: "confirm afaedfa5f23f56df0c4934f312b001bc7720e1c8"

Is it possible to make it more clear? For example "Confirm registration to OER World Map newsletter".

[2018-01-09 09:27] karindr opened #1413 "Rename "primary ..." and "secondary educational sector""
I suggest to rename these fields to "main educational sector" and "further educational sector". There is the possibility of a misunderstanding because primary, secondary and tertiary education is widely used for gradelevels.
I think this user misunerstood the categories:
https://oerworldmap.org/resource/urn:uuid:0af1b987-ec31-4540-a262-0b38b4ca011b

[2018-01-09 10:10] karindr opened #1414 "Strange table in template for location"
![image](https://user-images.githubusercontent.com/18674205/34715554-57cf5734-f52d-11e7-96db-24a74655030e.png)
![image](https://user-images.githubusercontent.com/18674205/34715588-6ac18c72-f52d-11e7-86ad-96bb63aca165.png)
This is especially strange as @trugwaldsaenger in firefox still gets the correct view.

[2018-01-09 10:20] literarymachine commented on #1414
Confirmed, apparently introduced in 5c295f8380cb086b30049a7371a5be19bc08b516.

[2018-01-09 10:40] philboeselager commented on #1407
@acka47 Language maps look fine. But they won't help us here in using language specific stemmers, right?

@literarymachine suggested to use [Elasticsearch multi-fields](https://www.elastic.co/guide/en/elasticsearch/guide/current/mixed-lang-fields.html). This is a handy approach as long as we effectively deal with a rather limited number of content languages. Looks like the most practical way to go

[2018-01-09 10:49] literarymachine commented on #1414
Fixed in 9da1a2179a8284c5c717ba44cd97f42fc8d7711b

[2018-01-09 10:49] #1414 closed

[2018-01-09 11:12] literarymachine commented on #1407
They would help us, because we could index `name.de` using the German stemmer, `name.en` using the English one etc. instead of indexing every `@value` in multiple languages.

Because using language maps will require some refactoring of not only the Elasticsearch configuration but also the input templates, I would suggest we go with the multi-fields for now.

[2018-01-09 18:55] gandalfar commented on #1347
Can you please provide specs for the graphics so we can send it to you, together with lists of winners?

[2018-01-10 08:26] trugwaldsaenger commented on #1413
Good point. On the other hand "further educational sector" could be misunderstood as well ("further education"). I think we should keep this point in mind and come back to it, when we review our experience with the educational sectors.

[2018-01-10 08:35] trugwaldsaenger commented on #1412
Very true, we should change this!

+1

I wonder who can help us with this. @acka47: Can you do this, or do we have to contact our list-administrators?

[2018-01-10 10:02] karindr opened #1416 "Words in the UI that can't be translated at the moment"
Tel found some words, that can't be find in any of the files in crowdin, these parts are also not in the german translation:

1. In the story template at the bottom the text in the two last fields, see:
![image](https://user-images.githubusercontent.com/18674205/34766388-81cc2676-f5f4-11e7-8887-70b607219978.png)

2. In all templates where a datehas to be entered there is YYYY-MM-DD. It would be be

[2018-01-10 15:32] philboeselager commented on #1407
@literarymachine Which languages should we start with? There's quite a bunch of possibilities, see [this elastic documentation](https://www.elastic.co/guide/en/elasticsearch/reference/2.4/analysis-stemmer-tokenfilter.html).

- The more languages, the bigger our index mapping, which is manageable by the [python script](https://github.com/hbz/oerworldmap/blob/master/scripts/fix_mapping.py).
- And th

[2018-01-10 15:56] literarymachine commented on #1407
I would stick with the languages we also support in the UI: English and German.

Yes, you can probably just modify https://github.com/hbz/oerworldmap/blob/master/scripts/fix_mapping.py#L92 for now by adding additional multi fields for English and German stemming there.

+1

[2018-01-10 15:58] literarymachine commented on #1407
While you are at it, you could probably also add a `raw` multi field that is `not_analyzed` so that we can sort results alphabetically, see https://github.com/hbz/oerworldmap/issues/946#issuecomment-312839844.

[2018-01-10 16:05] philboeselager commented on #1407
Sure. I would nevertheless keep branches separated.

[2018-01-10 17:37] literarymachine commented on #1407
@trugwaldsaenger: I assume you meant "erste sächsische OER Tage" vs "erste**n** sächsische OER Tage" in your error report.

@philboeselager Why not use the above error as the test case?

[2018-01-11 08:28] karindr commented on #1413
We can also use "main sector" and "secondary sector". The combination makes clear that we don't think of primary and secondary education here.

Here is the next user who misunderstood the naming:
https://oerworldmap.org/resource/urn:uuid:caf91d7d-5e9b-4665-a74b-3a38f1af60de

[2018-01-11 09:09] philboeselager commented on #1407
Because these words are used both, in the title and in the description, and in different variants:

- `name.@value : "Ersten sächsische OER-Tage"`
- `description : "ersten sächsischen OER-Tage"`

There's nothing bad about the words, esp. Umlaute are not a problem. I was just taking a test case where it was clear that the positive stemming test result could not be an effect of textual variants.

[2018-01-11 09:48] karindr opened #1418 "There are some problems with caracters in displaying the English list of countries"
![image](https://user-images.githubusercontent.com/18674205/34818342-cc98fd34-f6ba-11e7-8f0a-f179273dc112.png)
At the End of the list, see above and

- Sao Tome
- Saint Barth...
- Curacao
- Reunion

The problems are in the English list shown in the Template for choosing the country champion and for the location. Simmilar problems in the List of languages:

- Bokm...
- MÄ?ori
- Volp...

[2018-01-11 09:55] trugwaldsaenger commented on #1413
Another possibility would be "main sector" and "additional sector". @drrobertfarrow what do you think, any other suggestions?

Apart from finding the best suitable wording I just mentioned that we do not have help texts included. This might improve the situation as well. I propose something like this:

"Choose the educational sector of primary activity"

and

"Choose educational sector of addition

[2018-01-11 10:15] trugwaldsaenger opened #1419 "Relocate button for filtering educational sectors"
The actual positioning of the buttons does not make sense. Both buttons should appear next to each other, and the primary sector should be shown first.

![educational-sector-filter](https://user-images.githubusercontent.com/6639965/34820392-b489ba02-f6c0-11e7-8a09-0ff6e546e2ca.PNG)

This issue is loosly related to #1413

[2018-01-11 10:44] karindr commented on #1413
When there are six help sentences crowdin will show you six sentences to translate. So I think we should think from the point of view of the user not form the point of view from the translator.

[2018-01-11 14:55] formimkontext commented on #1347
hey @gandalfar, we haven’t defined all specification so we are kind of flexibel. jpg or png with at least 144 ppi and svg or ai will be fine.

[2018-01-11 15:06] literarymachine commented on #1347
As a matter of fact, you can simply point us to an online version of the image for now! We will be refactoring the badges to be more sophisticated, but for now they are simply represented by the URL of their badge icon.

[2018-01-15 10:01] #1117 closed

[2018-01-15 10:06] karindr opened #1420 "Translation: Months in Eventlist are not translated at the moment"
See for example "Mar": https://oerworldmap.org/resource/?q=&filter.about.%40type=Event

[2018-01-16 19:06] #1407 closed

[2018-01-17 11:36] trugwaldsaenger commented on #1402
Discussed this issue last week with @literarymachine. We aggreed, that discourse is a good tool and might be an opportunity for the world map, but it does not make sense to include it only to improve our comment function. Especially for comments which discuss single metadata fields, hypothesis probably will be the better tool.

[2018-01-17 11:45] trugwaldsaenger opened #1421 "Include permanent Tag - Index"
Currently the tags are presented like all other filters. So you never see all tags at one glance. One thing I like about the OER Atlas 2017 is the tag index ("Schlagwort Index", page 150). Having all tags on one page seems to be superior to our current presentation. I think it could be a good idea to create a page, wich shows all tags, similar to the one included in the Atlas. This page could be p

[2018-01-18 07:54] karindr commented on #1421
It is a good idea to make the tags more visible. We will get even more and better tags if the people see what is done with them and how useful they are. Tags are easy to understand and they are used pretty well so far.

[2018-01-18 11:59] literarymachine commented on #1385
@drrobertfarrow do you as a native speaker have any thoughts or suggestions on this?

[2018-01-19 14:39] literarymachine commented on #1385
Another thought that came up is not rename `Service`, but to add a new top-level type for anything content related (repositories, textbook platforms etc.). The could be [`Collection`](http://bib.schema.org/Collection) with a label of `OER Collections` or the like.

[2018-01-22 07:49] trugwaldsaenger commented on #1385
Here come my lessons learned from last weeks discussion:
1. Exchanging "Services" by "OER" or "OER`s" wont work. While it might be acceptable when searching for OER, it would be very irritating for the "[currently-on-the-map](https://oerworldmap.org/#on-the-map)"-view as well as for the "add-resource"-buttom.
1. Acceptable would be "OER-offer" or "OER-service". I like "OER-service", because I thin

[2018-01-22 07:50] trugwaldsaenger commented on #1340
I have started summarizing all second level types in one document: https://docs.google.com/document/d/1vH4odAccnQhKdg-ra4_GHEt4hdBADLC7eZNTHpst92k/edit?usp=sharing

[2018-01-22 10:24] karindr opened #1425 "Landing page mobile view has several bugs"
I looked on an adroid phone:

- "Navigate" is cut off
- "Join" and "Login" buttons are above each other but not exactly
- The three points "What is OER" and so on are not centered (and the texts look pretty funny one word per line)
- the table "For actors" and so on doesn't look very well
- the E-Mail adress field is cut of
- most texts look pretty funny as centered lists of often single words

[2018-01-22 10:25] karindr opened #1426 "The map puts Germany slightly to the left"
This behavior changed the last days, see:
![image](https://user-images.githubusercontent.com/18674205/35216156-f0f30ed6-ff66-11e7-8922-22ef9c8c682f.png)

[2018-01-22 10:55] karindr opened #1427 "Strange behaviour of map in connection to country view"
I am in the German country view. I want to leave this view and click on the home button (OER World Map). The country view is gone. I filter for Award "OER 17 Award". It does not work. I do it again and get a list and am back in the German country view, see:
![image](https://user-images.githubusercontent.com/18674205/35217289-ef3ff0fa-ff6a-11e7-9082-165b58eeb0d1.png)
This is strange and not very us

[2018-01-22 11:07] literarymachine commented on #1426
@karindr Sorry I don't get it. What is wrong? AFAIK nothing has been deployed that could have changed the behavior of the map.

[2018-01-22 11:24] j0hj0h commented on #1425
Yes I know, it was plainly not yet taken care of at all :-) ... but I'm working on it since Friday already. For the future: When you see such a layout you can assume that things are not working in the hole and you can save you the time of listing the bugs in detail. Sorry that I don't warned you about the fact that the landing page was not responsive already.

[2018-01-22 11:51] karindr commented on #1347
The tool Turtlestitch got an award (OER17). Please make it possible, that we can give arwards to tools too.

[2018-01-22 12:11] karindr commented on #1347
I tried a lot of times to find the oer17 winners all together and I gt only 7 in the list, see:
https://oerworldmap.org/resource/?q=&filter.about.award=https%3A%2F%2Foerworldmap.org%2Fassets%2Fimages%2Fbadge_preistraeger_100_2017.png&filter.about.location.address.addressCountry=DE
There are all 11 von the map with the badge.

[2018-01-22 12:26] literarymachine commented on #1347
Yes, but they don't necessarily have `DE` as their location. Here are the ten that have the badge: https://oerworldmap.org/resource/?q=&filter.about.award=https%3A%2F%2Foerworldmap.org%2Fassets%2Fimages%2Fbadge_preistraeger_100_2017.png

As you mention above, I need to configure badges for tools, when that is done it will be all eleven.

[2018-01-23 01:32] j0hj0h commented on #1425
Landingpage is now responsive. Feel invited to test on your devices and post screenshots, if something doesn't work ...

[2018-01-23 09:02] karindr opened #1428 "Clicking on "OER World Map" has no effect"
You have to reload the page to get to the worldmap back! I think this is the problem in #1427 too.

[2018-01-23 11:16] karindr commented on #1425
Everthing nice on Android in horizontal and upright format!

[2018-01-23 12:02] karindr opened #1429 "Add more links from the landing page to specific tasks on the OER World Map"
When I scroll down the landing page there are different points where I want to go on to the specific task or the specific information on the World Map. It would be useful to implement links so the visitor does not have to scroll back and start searching on the map.

Here is a list of suggestions:

1. "Set up a personal profile" I would add a link to the registration/login form from the heading and

[2018-01-25 09:35] literarymachine commented on #1425
Fixed in https://github.com/hbz/oerworldmap-static/commit/312588ea905e6b89e36afee6e23b47e5707d95df

[2018-01-25 09:35] #1425 closed

[2018-01-25 10:49] karindr commented on #1347
The problem is that the award filter is not shown very often. To see the filter I have to choose some other filters for example: DE, CH und AU. But I get only 8 winners by this. See:
https://oerworldmap.org/resource/?q=&filter.about.award=https%3A%2F%2Foerworldmap.org%2Fassets%2Fimages%2Fbadge_preistraeger_100_2017.png&filter.about.location.address.addressCountry=DE&filter.about.location.address.a

[2018-01-25 10:53] literarymachine commented on #1347
Yes, there will be a way to manually show the extended filters. In the meantime, @trugwaldsaenger always just [searches for *](https://oerworldmap.org/resource/?q=*) to show the extended filters without applying a filter.

[2018-01-25 16:00] #1427 closed

[2018-01-25 16:01] literarymachine commented on #1428
Fixed in #1423

[2018-01-25 16:01] #1428 closed

[2018-01-25 16:01] literarymachine commented on #1426
Fixed in #1423.

[2018-01-25 16:01] #1426 closed

[2018-01-26 10:43] literarymachine commented on #1410
Since time is pressing, I'll move back to https://nominatim.openstreetmap.org/ for now.

[2018-01-26 11:18] acka47 commented on #1410
Ok. Just ping @dr0i if you need another pelias server. He will then start setting it up.

[2018-01-26 15:51] #1410 closed

[2018-01-29 10:31] karindr opened #1432 "Make CSV export more userfriendly"
This is based on feedback from a user trying 15 minuts to use our csv export and than stopping.

1. There should be a column with the URL of the entry on the OER World Map (Yes, I know that I can change the the @id column to this by saerch and replace, but this shurely can be done before the export)

2. In not so few cases the description is split to different fields in several rows (see for an ex

[2018-01-30 08:08] karindr commented on #1271
The line above the first lighthouse comment and under the heading "Lighthouse Comments" is also too strong/dark. Please change it here also.

[2018-01-30 10:54] karindr opened #1433 "Different names in different views, use everywhere name and abbreviation"
In this list there is the name of the project "Lehrerfortbildung durch Nutzung und Produktion von OER-Materialien"
![image](https://user-images.githubusercontent.com/18674205/35562397-86a91734-05b3-11e8-846a-ab0d8878ee44.png)
on the project page it is "LOERn (LOERn)"
![image](https://user-images.githubusercontent.com/18674205/35562453-b9b9cf06-05b3-11e8-919b-0d626bc3d10b.png)
This page is wrong bu

[2018-01-30 11:34] karindr commented on #1433
Look here there are different names too (on the left and highlighted in the template):
![image](https://user-images.githubusercontent.com/18674205/35564240-cbf39458-05b9-11e8-840b-3e3e387c1ada.png)

[2018-01-30 11:38] karindr commented on #1433
I understood: It is the screen name thet is displayed in the column. If you ask me it is not very helpful to use the screen name there (you only find out the real name, when you go into the template!) and shouldn't the screen name be in the lists?

My suggestion: Why don't we forget about the screen name?

[2018-01-31 08:51] karindr opened #1434 "You can't change to the country view when the map is zoomed in"
At the moment when zooming in when the heatmap changes to the map view with streets and so on you are no longer able to change to the country view by clicking on the map.

[2018-01-31 14:02] literarymachine commented on #1432
Right, that makes sense.

I think the problem here is that fields seems to be separated by semicolon, not comma. So if imported using a comma as a field separator, the entries indeed make little sense, especially for full text fields such as `description`. @philboeselager is there a reason you used commas?

Yes, please let @philboeselager and me know which order would make sense!

[2018-01-31 14:05] literarymachine commented on #1268
See https://github.com/hbz/oerworldmap/pull/1284#issuecomment-361522579

[2018-01-31 14:09] literarymachine commented on #1434
This is expected behavior; on street level, you can't really see countries so it makes little sense to be able to switch them.

[2018-02-01 08:14] karindr commented on #1432
The order of the rows should be the same as the order of the fields in the presentation on the map (if the csv skips some fields that is no problem).

[2018-02-01 08:20] karindr commented on #1434
I don't agree. If I am on the map in Cologne I know that I am in Germany and when I want to change to the German country view I have to zoom out several times before I can get there or habe to got to the home button and then zoom in several times to get there too. This does not make sense to me.

[2018-02-01 08:50] karindr commented on #1368
The coutries are now displayed in German too, that's great. But for example not for Portuguese, where we have an almost complete transaltion.

[2018-02-01 08:54] karindr commented on #1360
If I understand the description right this works now as expected. So should we close this issue?

[2018-02-01 09:01] karindr commented on #1281
I close this issue and add the open points to #1432 .

[2018-02-01 09:01] #1281 closed

[2018-02-01 09:13] karindr commented on #1189
@literarymachine or @acka47, we talked about this in the meeting,  see above there is the example!

[2018-02-01 09:18] acka47 commented on #1189
Hmm, I would rather expect this behaviour. I now added an English display name and it looks good.

[2018-02-01 09:19] karindr commented on #1146
this is done so I close this issue

[2018-02-01 09:19] #1146 closed

[2018-02-01 09:20] trugwaldsaenger commented on #1432
+1 the order of the presentation on the map seems reasonable

@philboeselager: Would it be possible to connect the order of the fields to the order in the profil, so that, if we change the order of the fields in the profile, the order in the export is changed as well? Just asking - if it is problematic, a manual solution will work as well!

[2018-02-01 09:21] karindr commented on #1151
This would be useful for a lot of webinars too, because you don't have to check a second webpage then.

[2018-02-01 09:22] karindr commented on #1141
This would be really helpful for people new to the map antering data!

[2018-02-01 09:24] karindr commented on #1129
This is done do I close the issue.

[2018-02-01 09:24] #1129 closed

[2018-02-01 09:26] trugwaldsaenger commented on #1125
+1 I still think the search-functionality needs improvement. What do you think @acka47? You recently mentioned, that the inclusion of a "Did you mean..." functionality would be helpful as well. Would we still need this, if we had autocompletion? Maybe both extenions could be combined, so that even users, which ignore the autocompletion get good results...

[2018-02-01 09:33] trugwaldsaenger commented on #1433
It is for sure right that the use of the full-name, the screen-name (and maybe also the abbreviation) is inconsistent and should be improved. Getting rid of the screen name might be a solution, but we included it on purpose, since sometimes the full-name is extremely long...

[2018-02-01 09:40] acka47 commented on #1125
Yes, I think both functions do make sense combined. People know it like this from google.Re. the "Did you mean..." feature: It could be a good solution to some recurring discussions we have on search:, on the one side wanting to have some fuzzy search features while on the other side the result list should rather be short. A "Did you mean..." feature would give users benefit from fuzzy search with

[2018-02-01 09:42] acka47 opened #1435 "Add "Did you mean..." suggestions"
From https://github.com/hbz/oerworldmap/issues/1125#issuecomment-362211596:

[2018-02-01 09:44] karindr commented on #1189
Ok. This is a good solution, so I close this issue.

[2018-02-01 09:44] #1189 closed

[2018-02-01 09:46] trugwaldsaenger commented on #1434
I think I never tried to activate the country view from the street view level. I think it`s not so urgent - maybe something to keep in mind, when we do some user testing...

[2018-02-01 09:53] literarymachine commented on #1360
Fixed in https://github.com/hbz/oerworldmap/pull/1285

[2018-02-01 09:53] #1360 closed

[2018-02-01 10:03] karindr commented on #1375
For services:
"The educational sector the service is built for in the first place."
"Educational sectors the service is also useful for."

For organisations:
"The educational sector the organisation is working for in the first place."
"Educational sectors the organisation is also working for."

For persons:
"The educational sector you are working for in the first place."
"Educational sectors you a

[2018-02-01 10:07] literarymachine commented on #1151
This is actually possible, just append the time (and optionally a timezone offset) to the date, resulting in the following format: `2017-03-29T12:00:00-04:00`: https://oerworldmap.org/resource/urn:uuid:16e19f26-2b21-45fe-9d02-43fa5f0daf5c

Admittedly, this is not very user friendly. So let's keep this issue open until we have a widget that makes this easier.

[2018-02-01 10:11] literarymachine commented on #1375
@acka47 can you add them and open a PR?

[2018-02-01 10:12] trugwaldsaenger commented on #1125
+1 Many thanks Adrian! @philboeselager : Do you think this will be difficult to implement?

[2018-02-01 10:26] philboeselager commented on #1125
No, not really. Let's talk about the best way to implement it, @literarymachine

[2018-02-01 10:54] acka47 commented on #1375
Added the tooltips with #1436. While I was add it I also added the other tooltips for the "Tool" template as there haven't been any at all yet.

[2018-02-01 11:13] literarymachine commented on #1125
Auto completion (and auto-correction, i.e. "Did you mean ...") are non-trivial if we want a Google-like multi-word approach *where the words don't come from a phrase in a single field*. I implemented something like this in another project, see the search box in http://primo.bibliothek.kit.edu/primo_library/libweb/action/search.do?vid=KIT&tab=kit&srt=rank. That approach is based on aggregations. I'

[2018-02-02 10:21] acka47 opened #1437 "Persons affiliated with an entity should not lighthouse it"
As the results are skewed when people start lighthousing their own offers, we should make clear that we don't want – or even technically prevent – such behaviour.

As discusses on slack, here are some measures to take:

- Add a question like "What do the lighthouses mean?" to the FAQ and make clear who ist supposed to give a lighthouse and who not.
- Put a "?" or "i" with a link to the FAQ besides

[2018-02-02 12:52] trugwaldsaenger opened #1438 "Refine Lighhouse Process"
In order to make shure that lighthouses are not abused for marketing purposes we should clearly express that users should not set a lighthouse for entries they are affiliated with.

In order to do so
a) The instruction on the popup form should be changed from "Please tell us what makes this entry a lighthouse" into "Please tell us what makes this entry a lighthouse. Please set lighhouses only in c

[2018-02-02 12:55] literarymachine commented on #1438
Duplicate of #1437?

[2018-02-02 13:17] trugwaldsaenger commented on #1438
@acka47 was faster than me! closing!

[2018-02-02 13:17] #1438 closed

[2018-02-02 13:55] acka47 commented on #1437
@trugwaldsaenger writes in a – now closed – duplicate issue:

![lighhouse](https://user-images.githubusercontent.com/6639965/35734123-4b217a7a-0820-11e8-8fa9-9266feacf431.PNG)

[2018-02-05 15:35] #1375 closed

[2018-02-07 09:45] karindr commented on #1437
I added the question and answer to the FAQ and created a pull request. I will translate this and the other sentences when they show up in crowdin.

[2018-02-07 11:49] karindr opened #1440 "We should support people entering lots of similar entries (e.g. events)"
Have a look at this list:
https://oerworldmap.org/resource/?q=Mediencoaches+#urn:uuid:77a0836a-9626-42c1-8e8b-645b1ba76c27
I think only a HiWi is entering such similar entries 12 times by doing all copying 12 times. We should think of a feature like “create a similar entry”. For example komoot does this (you copy a tour and change the points you want to change), this is very useful!
I think there

[2018-02-07 11:54] karindr commented on #1317
This problem occurs in other lists too. See:
![image](https://user-images.githubusercontent.com/18674205/35915107-ff4b1518-0c05-11e8-9e0b-00dfd957aee1.png)
Add date will solve the problem.

[2018-02-08 07:33] trugwaldsaenger opened #1441 "Fine-tuning search index: PDXopen"
Searching for "PDX" brings no results. Searching for "PDXopen" finds the entry I`m looking for: https://oerworldmap.org/resource/urn:uuid:fc11eb2e-ffdf-450c-9d21-b87db02f4c24

[2018-02-08 08:12] trugwaldsaenger commented on #1440
Sounds reasonable to me. Two comments:
1) It seems to make sense especially in the case, that you have to add several similar events. @karindr: Can you think of other cases, where this would make sense?
2) Maybe this problem could be tackled with Open Refine as well? If someone has 20 Events in an Spreadsheed, we could make an bunch-import for this...

[2018-02-08 08:14] trugwaldsaenger commented on #1437
Many thanks!

[2018-02-08 08:27] karindr commented on #1440
It will be events in the most cases. I can think of simmilar publications or simmilar projects for one organisation but this will be not so often.
The problem with doing an extra import is, that the users have to contact us to have this done. The idea was support the people in the moment they are working with the map otherwise they maybe will simply stop entering their events.
If it too complicate

[2018-02-08 08:42] acka47 commented on #1440
Seeing this list of very related entries, makes me think of https://github.com/hbz/oerworldmap/issues/1153 – at least if more people start adding something like this. It would give a much better user experience if the [search for "Mediencoaches"](https://oerworldmap.org/resource/?q=Mediencoaches) would only bring one result for the general entry of the course/event series and you would only see th

[2018-02-08 09:30] karindr commented on #1440
The idea of beeing able to create a course is very good, so in this case there would be 3 courses with 4 events each. But do you want to cluster the 3 courses too? This would be the same question for for example a workshop that is done 10 times at different places. This is not the same as a course with different events. How could this be handled?

[2018-02-08 11:52] karindr opened #1442 "Linebreak false, comma in next line"
The comma after Das Institut für Entwicklung und Erforschung des Mathematikunterrichts belongs to this term and should not be at the beginning of the next line. See:
![image](https://user-images.githubusercontent.com/18674205/35971608-f36523be-0cce-11e8-9495-7e2251666f73.png)

[2018-02-12 11:46] formimkontext commented on #1434
besides the fact that i don't think this is a major problem, too, we could implement an button (close to the legend) to set the map back to a certain zoom level. @dobladov allready dealed with it, right?

[2018-02-12 12:32] formimkontext commented on #1433
i agree, that the name in the result list and in the resource view should correspond. the problem about longer names is not the presentation in the result list but in the small resource view. part of the problem will be solved with the fullscreen resource view.

my idea about the display name was to introduce more userfriendly names. ›OERinForm‹ is more self-explanatory or probably better known th

[2018-02-13 10:07] karindr commented on #1433
That is a really good idea! The names should be consistently in this way  in every list: abbreviation (full name): in the result list and in the list you choose from in the input templates. So the users don't get confused from differnt views.

[2018-02-13 10:35] karindr commented on #1440
When you filter for events, the lists are good (with date and location). In result lists with mixed with other entry types we should add to the name of the event the date to make the different entries of series of events distinctive. This should be the same for the lists in the country view.

[2018-02-13 12:31] karindr commented on #1434
There is no major problem, yes. But there is also no reason why it depends on the zoom level that you are able to change to country view. Can you explain where is the problem is leading to the country view from every zoom level?

[2018-02-13 12:54] literarymachine commented on #1434
While testing the map, we often accidentally clicked slightly beside a pin on street level. It was very confusing to then suddenly jump and zoom into a country view.

[2018-02-14 07:42] karindr commented on #1434
Was this allready with the new points for the pins? At the moment it is quite clear that you have to click on the point when it is orange and enlaged and the label is shown, isn't it?

[2018-02-14 08:36] karindr opened #1443 "Mouse-over labels for "+Organisation" etc."
In the drop down menu dropping down from the orange +-button there are no mouse-over labels. It would be nice to have them: "Add organisation" etc. Please keep in mind that the whole phrase should be translatable not only the words, otherwise we will end up with "Hinzufügen Organisation".

[2018-02-14 11:25] karindr opened #1444 "Add "Primary educational sector" and "Secondary ..." to publications"
Publications are used quite often so we should add these two fields to them to make them findable on these ways like the other entries.

[2018-02-15 08:55] karindr opened #1445 "Change order of statistics on statistic page"
Look:
![image](https://user-images.githubusercontent.com/18674205/36247835-bec0cd40-1235-11e8-987e-21a5085e9d93.png)
As second statistic there is "Entries by secondary education sector". This statistic should be the statistic following the statistic "Entries by primary education sector" which is the last statistic at the moment. I suggest putting "Entries by secondary education sector" at the end

[2018-02-20 09:59] literarymachine opened #1446 "Inaccessible action buttons in mobile view"
![image](https://user-images.githubusercontent.com/149825/36417763-0f07c10a-162d-11e8-8108-d1db60344665.png)

[2018-02-20 10:25] #1446 closed

[2018-02-20 12:10] karindr opened #1448 "Give possibility to link from a project to a service"
Working on the documentation of the OERinfo projects I miss the possibility to create a link from a project to a resulting service, for example:
from project "OER World Map" to service "OER World Map"
from project "JOINTLY" to not yet existing service "OER Content Buffet"
and so on.

I think this would be helpful, because some visitors will look for resources and should be able to find the service

[2018-02-21 09:49] karindr opened #1449 "Lighthouses and Likes appearing in country view statistics"
See:
![image](https://user-images.githubusercontent.com/18674205/36472177-44c83f94-16f1-11e8-8475-1c20c15653ef.png)

[2018-02-21 09:56] literarymachine commented on #1449
The actual bug here is that `LikeAction` and `LighthouseAction` should currently not be showing up there at all.

[2018-02-21 10:43] karindr commented on #1449
OK. Lighthouse may be interesting here in the future, but for the moment they don't need to be shown here. Please feel free to rename this issue or close it and open a new one.

[2018-02-22 09:27] karindr commented on #1349
Changing list of words in one tag field to single words in different tag fields has to be done quite often. In the long therm we should consider changing the widget and let them enter tags with commas

[2018-02-22 09:31] karindr commented on #1448
Newest example:

_project:_ Affordable Learning Georgia (ALG)
https://oerworldmap.org/resource/urn:uuid:16f63ec7-e978-4aef-837b-6997761c23b6
should be linked to
_service:_ GALILEO Open Learning Materials
https://oerworldmap.org/resource/urn:uuid:b2754f03-5a46-4be9-a04c-d969484ea54f

[2018-02-22 09:37] karindr opened #1450 ""Project lead in" line in personal profiles is displayed empty"
Look at Jan N.s profile, he is project lead in some projects but they are not shown. This is relevant for other personal profiles too. See:
![image](https://user-images.githubusercontent.com/18674205/36530775-47d51772-17bc-11e8-96d0-aa921955309c.png)

[2018-02-22 10:27] karindr opened #1451 "Enable filtering services for subjects more exactly (also on the second and third level)"
At the moment I only can select to filter from the first level of th subjects. But if I am a teacher, student or parent searching for services that offer OER for "Arts and humanities" is not specific enough. We should make it possible to search for the subjects from the second and even the third level of the subjects lists! It is so disappointing to see that the information is on the OER World Map

[2018-02-22 10:42] literarymachine commented on #1451
Duplicate of #744 and #1129, @karindr why did you close the latter? Implemented in the new UI, the indention style is still a bit unclear but the levels are there:
![image](https://user-images.githubusercontent.com/149825/36533937-60ef9a1c-17c5-11e8-9f92-4c244e5f68eb.png)

[2018-02-22 10:59] literarymachine commented on #1450
Luckily, this is a display bug and not one in the data. An empty row for `Project lead in` is shown in case a Person created a `LikeAction` or a `LighthouseAction` and at the same time is not `Project lead in` a Project.

[2018-02-22 11:10] karindr commented on #1451
Wasn't aware of #744, so I close this.

[2018-02-22 11:10] #1451 closed

[2018-02-23 09:53] acka47 commented on #1448
Everything is there in the schema and the `.properties` files (`Action.result` & `Servie.resultOf`) but in the end of 2015 we decided to not show it in the web form, though, see #524.

As I understand, you want a field in the Project web form that says "Resulting service" with tool tip "A service created during the project". However, for implementation we also need to know:
1. Should there also be

[2018-02-26 07:42] karindr commented on #1448
Yes.

Yes, both times.

[2018-02-27 15:26] acka47 commented on #1034
Closing this ticket as @tamielbr has already done a lot of translations at CrowdIn, see https://crowdin.com/profile/tamiel/activity.

[2018-02-27 15:26] #1034 closed

[2018-03-01 09:47] karindr commented on #848
Will this be part of the new UI? We (@acka47 , @trugwaldsaenger and @philboeselager)  talked about it today and agreed that it would be super helpful.

[2018-03-05 11:39] karindr opened #1453 "Make it possible to change the displayed language of descriptions manually"
Last week we discussed using automated translating for the description texts of the different entry types. We talked about the possibility that the different language text may develop differently because someone will only change the text in one language but not in all languages. This points to a fundamental problem of having different language versions in our data. There is _never_ a guarantee tha

[2018-03-05 11:52] karindr commented on #1449
By the way they appear also in the label shown when the cursor is placed in Germany.

And there are strange numbers in this country view: 24 likes although there are only 20 likes shown for the whole world.

[2018-03-06 09:55] karindr opened #1454 "Showing continents"
For some purposes is  useful to be able to select whole continents on the OER World Map and show them on the map. As @acka said we don’t have this information. Two suggestions:

1. Include this information from somewhere else
2. Make choosing a list of countries easier

Let me explain Point 2:
You open the list of countries in the filter section. Once you finished your selection of countries by cl

[2018-03-07 09:18] karindr commented on #1319
Still cut off in the new country view.

[2018-03-07 09:22] karindr opened #1455 "Logos are often transparent with white letters, make dark background possible"
We often can't use the logos from the organisations websites because the logosare ofen transparent with white letters. Could we establish a possibility to change the backgroundcolor to black or a dark grey for these logos manually?

[2018-03-07 09:39] karindr opened #1456 "Problems with Myanmar on the map"
As name there is "MM" displayed.
When I click onto it I get this error:
![image](https://user-images.githubusercontent.com/18674205/37084805-c117ce04-21f3-11e8-8a70-3f50bd859096.png)

[2018-03-07 10:02] literarymachine commented on #1456
@karindr please add a link to the erroneous page in the issue if possible. Screenshots at this resolution are hard to read.

[2018-03-07 10:25] literarymachine commented on #1456
@acka47 We are currently using Wikidata to import ISO3166-2 country codes. While [Myanmar](https://www.wikidata.org/wiki/Q836)'s country code is definitely available there, my [import script](https://github.com/hbz/oerworldmap/blob/master/scripts/wikidata-labels.py) is currently discarding it:

[code]

It probably has to do with my query excluding properties that have an `end` time because we don'

[2018-03-07 11:08] formimkontext commented on #1455
talked to @literarymachine and @j0hj0h about that. we decided not to implement a posibility to change the background color for logos / images manually. this is because we won’t start with personalizing the design of profiles right now. but we will implement an image uploader soon to make it easier to upload a appropriate picture, see: #647. and we should add a guide abut image requirements to the

[2018-03-07 11:47] karindr commented on #1456
https://oerworldmap.org/country/mm

[2018-03-07 11:48] #1455 closed

[2018-03-07 13:51] formimkontext commented on #1319
we will display logos / img in the following way:

images of personal profiles will be scaled proportional and displayed without padding. they might be still cut off, depending on the format of the original image.

logos of organizations, services, etc. will be displayed with a padding and adjusted to the size of the image box.

[2018-03-13 08:59] karindr commented on #995
It is done.

[2018-03-13 08:59] #995 closed

[2018-03-13 09:02] karindr opened #1458 "Decide about which links should be part of which templates in general"
@trugwaldsaenger suggested that he, @acka47 and me should discuss this at some time in the near future.

[2018-03-13 09:16] karindr commented on #1458
Question: Have we descided that you can't connect an organisation to a service from the organisations template? At the moment when you start adding a new service you have to sopp and add the providing organisation first to be able to save the service. Or you address it to a country, enter the organisation, go back to the service, link it to the provider and delete the country.

[2018-03-13 13:09] philboeselager opened #1459 "Service Statistics View"
Based on https://github.com/hbz/oerworldmap/commit/15512558af1b607a2d90d5831a39f2e170ed4920, rendering some kibana graphics is the next step to integrate statistics data (concerning materials and usage) into a Service resource entry.

@literarymachine Could you either please inform me about the next steps to be done or take over this issue?

[2018-03-13 13:10] philboeselager commented on #1459
Some initial dummy data:

    {
      "repository": {
        "name": "local",
        "domain": "www.dummysource.org",
        "oerworldmapid": "urn:uuid:3a81982f-fb6a-447d-a2ae-1ec03772dfbe",
        "uuid": "https://oerworldmap.org/resource/urn:uuid:3a81982f-fb6a-447d-a2ae-1ec03772dfbe"
      },
      "materials": {
        "licenses": [
          {
            "name": null,
            "type":

[2018-03-13 13:39] literarymachine commented on #1459
The way Kibana works is that it uses Elasticsearch to create aggregations which are then visualized. Since in this case, we already have aggregated data in the first place, I don't think we can do this using Kibana.

[2018-03-14 07:35] karindr opened #1460 "Look up registration address of nounstudents@yahoo.com"
I am changing old personal profiles which has been misused as organisations profiles. For this I renamend them to N. N. and contacted the email addresses.
My question is about this personal profile:
https://oerworldmap.org/resource/?q=N.#urn:uuid:fa08dd13-8f1f-40d9-be79-0ff560639a3b
The Mail to "nounstudents@yahoo.com" came back as not existing. If the registration address is different i could wri

[2018-03-14 08:10] #1448 closed

[2018-03-14 08:10] #1456 closed

[2018-03-15 09:24] karindr commented on #137
With the new type "publication" we solved this issue, see for example Robs profile and his list of publications. https://oerworldmap.org/resource/?q=rob#urn:uuid:b6725738-8495-11e5-a7a1-54ee7558c81f
II suggest to close this issue.

[2018-03-15 14:34] literarymachine commented on #1367
@philboeselager turns out, we do have too many false-positives:

![image](https://user-images.githubusercontent.com/149825/37469642-04e396f4-2866-11e8-93d6-98e608f80ac3.png)
![image](https://user-images.githubusercontent.com/149825/37469683-1ec53ae6-2866-11e8-8d29-1cbfef493d75.png)

The list actually goes on and on.

[2018-03-16 13:54] trugwaldsaenger commented on #1458
Correct - I think this will be part of a comprehensive refinement of our input template!

[2018-03-16 14:05] trugwaldsaenger commented on #1454
I think Adrians queris are a good initial solution, which should work for the moment. We can come back to a more elaborated solution, when there is any customer interest in this.  I added the prio 3 tag - @karindr, @acka47: Please comment, if you disagree!

[2018-03-16 14:13] trugwaldsaenger commented on #1453
@karindr How could look this like concretely? I guess concentrating on the description might be a good start. Maybe we could add flags of all languages a description is available at above the description field?

[2018-03-16 14:22] trugwaldsaenger commented on #1445
Completly aggreed - it makes no sense at all to show the statistics for the secondary education sector before the primary education sector. I would also expect that this is a small thing, which could be changed within a couple of minutes. @literarymachine @j0hj0h if possible you might consider this during the refactoring.

[2018-03-16 15:28] trugwaldsaenger opened #1461 "How should we import repository statistics?"
Initiated by @philboeselager`s participation in the last jointly/edusharing workshop we discussed the integration of statistics of individual repositories into the world map.

As far as I understood there are two quite different approaches to do this:

### 1) Display statistical data without importing it into the search index
As soon as data about the **size** of the repository (How many documents

[2018-03-19 11:02] karindr commented on #1453
Yes, the description is most important. There could be little flags or text like: See the description in Spanish, Portuguese, above or maybe better below the description.

[2018-03-21 09:36] karindr opened #1462 "Wrong (and not translated) and not speaking labels in statistics in "Global statistics""
- In the first statisctic there is:
Action in stead of Project.
Article -> Story
WebPage -> Publication
Product -> Tool
These labels should be translatable!

- In the following statisctics there are sometimes URLs whath is not ideal but works in a way.

- But sometimers (funders) there are the ID-numbers what is not really useful to anybody.

- Sometimes there are abbreviations, that is not ideal

[2018-03-21 09:51] trugwaldsaenger opened #1463 "Add Award Field for Tools"

[2018-03-21 14:13] #1463 closed

[2018-04-04 05:37] trugwaldsaenger opened #1465 "Include OE Award badge on landing page"
http://www.oeconsortium.org/wp-content/uploads/2013/08/OE-Awards-Badge-2018-1.png

I would propose to include an additional section between the "Navigate the world of OER" and the "What is...." sections and show there the badge in a rather large format. I do not think additional text is needed, but for shure we could add a sentence or two.

@drrobertfarrow: Do you have any additional advice for th

[2018-04-04 05:44] trugwaldsaenger opened #1466 "Add tools and publications as fully adequate data types to search & filter section"
In my opinion, both data types have been accepted pretty well and are used quite often. I see no reason any longer to handle them in a restricted way and would propose to add them to the filter section similar to all other data types. @acka47: Any opinion on this?

[2018-04-04 05:58] trugwaldsaenger opened #1467 "Add kibana statistics on country view"
We should define a basic statistics dashboard, which shows country related statistics:
- number of entries per data type
- number of entries per sub-national entity
- number of entries per educational sector
- number of used licenses
- number of used topics

The dashboard should be included/linked to the country view: If you are on the country view for Germany, statistics related to Germany should

[2018-04-04 08:48] literarymachine opened #1468 "Configure email server"
Outgoing mails should not be flagged as phishing or end up in spam.

[2018-04-10 08:39] trugwaldsaenger opened #1469 "Add Field "Ljubljana Action Plan Challenge""
Name of the field: Ljubljana Action Plan Challenge or LAP-Challenge
selection list:

1. Building the capacity of users to find, re-use, create and share OER
2. Language & Cultural issues
3. Ensuring inclusive and equitable access to quality OER
4. Developing sustainability models
5. Developing supportive policy environments

Background: Currently we are adding examples collected for the second OER

[2018-04-10 08:40] trugwaldsaenger commented on #1469
@acka47 Could you please prepare the list as a SKOS-vocabulary?

[2018-04-10 08:46] trugwaldsaenger opened #1470 "Create World Congress Badge"
If possible, we should create a nice looking badge for the collected good practice examples:
1. form: circle
2. frame:
![grafik]:(https://pbs.twimg.com/profile_images/852141273809133568/5Rv5q1XX_400x400.jpg)
3. Within the circle following writing:
https://user-images.githubusercontent.com/6639965/38546204-5287853c-3cac-11e8-9871-51870317b695.png
4. If possible: Add the wording: "Good Practice Exam

[2018-04-10 08:56] trugwaldsaenger opened #1471 "Add and refine good examples"

[2018-04-10 08:58] trugwaldsaenger opened #1472 "Announce good practice examples and ask community for additional examples"

[2018-04-10 09:30] karindr opened #1473 "Problems with localisation"
I think thi is not only relevant for OER World Map as service, I have seen it yesterday on at least an other example, but did not write it down.

The service is located in Berlin although the provider is hbz in Cologne
https://oerworldmap.org/resource/urn:uuid:29056e88-727b-407e-b00a-16df279ac506
![image](https://user-images.githubusercontent.com/18674205/38548678-9d90496e-3cb2-11e8-8694-1842ef190

[2018-04-11 11:02] karindr commented on #1471
All examples from list mailed to unesco are looked at and are comprehensive.

[2018-04-11 12:51] formimkontext commented on #1470
Here are two versions of the badge. Please delete the badge you dont want to use by editing  this comment.

![oer-congress-gpe-badge-2](https://user-images.githubusercontent.com/15141949/38617591-b24a2966-3d97-11e8-9a82-490a6b263c7c.jpg)
![oer-congress-gpe-badge-3](https://user-images.githubusercontent.com/15141949/38617592-b26d07d8-3d97-11e8-8f12-265668549221.jpg)

[2018-04-11 13:08] literarymachine commented on #1469
@trugwaldsaenger should this field be added to all data types?

[2018-04-13 08:43] literarymachine opened #1474 "Set Content-Disposition header for export formats"

[2018-04-13 09:02] literarymachine opened #1475 "Allow lighthouses for Events"

[2018-04-13 09:04] literarymachine opened #1476 "Add note to Lighthouse form"
When setting a lighthouse, it should be mentioned, that lighthouses should not set by persons affiliated to the entry.

[2018-04-13 09:06] #1476 closed, assigned to trugwaldsaenger

[2018-04-13 16:32] literarymachine commented on #1475
On beta, see e.g. https://beta.oerworldmap.org/resource/urn:uuid:def7377c-b3a0-4bf9-ad9d-2bc03c55c8ca

[2018-04-16 09:16] karindr commented on #1440
A user is asking for the possibility to copy events to be faster entering new events, see:

Noch eine Frage: Ich hatte angefangen unser Termine nach- und einzupflegen, aber das ist etwas mühsam, da man ja immer wieder alle Metadaten eintragen muss. Gibt es eine Möglichkeit einen Termin zu kopieren und dann nur einige Punkte zu ändern? Es sind ja oft immer die gleichen Angaben.

[2018-04-16 09:30] karindr commented on #848
Again we have a duplicate entry made by a user. it is always  quite some work to make one entry out of two and to mail to the users to have a look at it. So it would be really helpful to prevent duplicates.

[2018-04-16 09:41] trugwaldsaenger commented on #1475
+1 lighthouses for events are now available

[2018-04-16 09:47] karindr commented on #848
On production I can get rid of the list by clicking on "OER World Map" on beta the list stays there.
On production the map zoomes out when you click on "OER World Map" on beta the zoom level says the same.

[2018-04-16 09:47] trugwaldsaenger commented on #1462
This issue relates to the actual production system. As far as I can see, it has been solved on beta by now.

[2018-04-16 09:48] karindr commented on #848
What does the little arrow button next to the plus and minus botton means/does?

[2018-04-16 09:50] trugwaldsaenger commented on #848
You can move the map with this, even in a more horizontal position - pretty cool...

[2018-04-16 09:52] trugwaldsaenger commented on #848
On production the map zoomes out when you click on "OER World Map" on beta the zoom level says the same

@karindr Is this related to this issue? Or did you put it here by accidend?

[2018-04-16 09:53] karindr commented on #848
Sorry wrong issue. Copy it to #194

[2018-04-16 09:53] trugwaldsaenger commented on #848
@literarymachine: I agree that this is a very important function - we should keep care of it after the relaunch ASAP.

[2018-04-16 09:56] literarymachine commented on #1462
Yep! Once launched, we'll take some time and go through the issues and close what has been fixed during relaunch.

[2018-04-16 15:03] formimkontext commented on #1466
Draft for the filter section within the three column layout: Eight main type filter in the first row, dropdown for location and  tag filter in the second row below.  I am not sure about the icons we currently use for tools and publications so i made another suggestion.

![20180416-aggregation-filter](https://user-images.githubusercontent.com/15141949/38817084-e82b336e-4197-11e8-87d3-849cc6175e5a.p

[2018-04-16 20:05] trugwaldsaenger commented on #1466
Looks good to me! The new tools icon is definitivly better. For the publication I`m not sure, but we could discuss this during our next team meeting!

[2018-04-17 07:04] karindr commented on #1466
Really nice. I like the textsheet icon for publications better than the book icon we use at the moment.

[2018-04-17 07:31] karindr commented on #891
It is the same in the new UI on beta.

[2018-04-17 07:47] karindr opened #1477 "For the Primary Educational Sector you should be able to choose only one item"
At the moment you can choose more than one item. @trugwaldsaenger has confirmed that the concept of the educational sectors is meant like this.

[2018-04-17 08:06] karindr opened #1478 "Already chosen licences should be removed from list"
When you choose licences for a service in the template the licences you already chose should no longer be displayed in the list to chose from. There is no possibility of an error because if you choose two times the same licence the icon appears only once, but the list gets shorter and easier to handle if the already chosen licences are skipped.

[2018-04-17 08:13] karindr opened #1479 "It should be impossible to enter a start date for an event later then its end date"
At the moment you can do this on production and on beta.

[2018-04-17 13:05] literarymachine commented on #1466
On https://beta.oerworldmap.org/resource/

[2018-04-18 08:25] karindr commented on #1276
Again a case where I have to add the topic of a publication (an interview) as publisher because there is no "Entries mentioned"/"Mentioned in" field.
https://oerworldmap.org/resource/urn:uuid:8a7c5aa5-3b92-4ea3-acff-2b64a492ef68

[2018-04-18 10:30] karindr commented on #1466
+1

[2018-04-19 07:28] karindr opened #1481 "We are a map: Tools should have a location too"
At the moment searching for tools looks like this:
![image](https://user-images.githubusercontent.com/18674205/38977117-a7195b12-43b3-11e8-9215-ac23ad8031cd.png)
We collect the information who is using a tool. We could display this information for showing points on the map. This would be quite interesting because you can see which tools are only used locally and which are used globaly.

[2018-04-19 07:38] literarymachine commented on #1272
No it isn't. But the coordinates `[0,0]` are, and this is where the map is focused when no `location` is given.

Since this issue is marked as a question, what do @trugwaldsaenger and @acka47 think?

[2018-04-19 07:50] literarymachine commented on #1481
We record which `Service` uses which `Tool`. Since most `Service` run on the web, we (usually) don't give them a location directly, but use that of their `provider`. So we would have to implement the location in the chain `Tool` => `isUsedBy` => `Service` => `provider` =>  `Organization/Person`.

[2018-04-19 07:53] karindr opened #1482 "Sharing and export buttons don't work"
I want to shore the country view of UK on twitter but nothing happens when I ckick on sharing exept adding #sharing to the URL.

[2018-04-19 08:08] literarymachine commented on #1482
Yikes, confirmed. @dobladov please take a look.

[2018-04-19 08:24] dobladov commented on #1482
Small error, we were missing a prop, fixed now.

[2018-04-19 08:52] karindr commented on #1482
On production? I made a reload, but nothing has changed.

[2018-04-19 08:53] dobladov commented on #1482
Sorry, It's fixed but not deployed yet.

[2018-04-19 08:54] karindr opened #1483 "Pictures in itemview disappear when hovered by the mouse"
https://oerworldmap.org/resource/urn:uuid:bf17ce5f-3955-4add-af08-1e15e844aa43
![image](https://user-images.githubusercontent.com/18674205/38981549-f681717e-43bf-11e8-8b97-385dd5daa5de.png)
![image](https://user-images.githubusercontent.com/18674205/38981569-ff69a81a-43bf-11e8-8938-778198fe81a0.png)

[2018-04-19 08:59] karindr commented on #1482
No problem, was just wondering :-)

[2018-04-19 09:03] karindr opened #1484 "The colouring of the regions in the country view is strange"
For example India: There is a dot in the middle for a person who only chose India as location. It is ok that the region the dot is placed in is not green. Otherwise in the south there is a person with a "real" location, but the region is not green. And in the north there is a person in a region and this region is green.
https://oerworldmap.org/country/IN

For example UK: This seems quite strange,

[2018-04-19 09:10] literarymachine commented on #1483
This is not a bug, it is a deliberate feature. Often, dots can be hidden behind the logo. Hovering the `MiniMap` with the mouse is a nice way of exploring the dots on the map. @formimkontext what do you think?

[2018-04-19 09:17] literarymachine commented on #1484
The reason for this is that the user "in the middle" provided a [country code and also coordinates](https://oerworldmap.org/resource/urn:uuid:18db3ade-dfaa-42f1-be8f-d450a7643059.json), but did not specify a region. The latter is needed for the coloring of the regions, the coordinates are used for the dots.

As far as I remember, we did not automatically import any UK data, but I might well be wro

[2018-04-19 09:36] karindr commented on #891
I also want to be able to set a filter without the search term being deleted. For example I search for OERinfo and see there are to much hits so I want to search only for services. I want to be able to add the filter and don't want to have to put in the term again.

[2018-04-19 09:39] karindr commented on #1482
+1 :-)

[2018-04-19 09:40] karindr commented on #1482
I don't find how to delete an entry, is this connected?

[2018-04-19 09:45] literarymachine commented on #1482
Nope, but we indeed silently changed this. Sorry! The delete button can now be found at the bottom of the `edit` form:

![image](https://user-images.githubusercontent.com/149825/38984490-1754b71a-43c7-11e8-8ded-6f72e11c5f18.png)

When restructuring the code, we made a `Share & Export` component and deletion seemed not be in the right spot there. Can you live with this?

[2018-04-19 09:46] literarymachine commented on #1482
Fixed on production.

[2018-04-19 09:52] karindr commented on #1482
Yes, no problem.

[2018-04-19 10:07] karindr commented on #1481
This woulbd be ok from my point of view.

[2018-04-19 10:10] karindr commented on #1482
+1

[2018-04-19 10:18] literarymachine commented on #891
Deployed to production.

[2018-04-19 10:29] literarymachine commented on #1483
Why did you add the `bug` label again? As said above, this is deliberate behavior.

[2018-04-19 10:30] literarymachine commented on #1475
Fixed in https://github.com/hbz/oerworldmap/commit/046b0fb3c10c66412ac7b6fdc0f7c5445e86256f

[2018-04-19 10:30] #1475 closed

[2018-04-19 10:31] literarymachine commented on #1473
Fixed on production.

[2018-04-19 10:32] literarymachine commented on #1466
Deployed to production, closing.

[2018-04-19 10:32] #1466 closed

[2018-04-19 10:34] literarymachine commented on #1449
Fixed on production.

[2018-04-19 10:34] #1449 closed

[2018-04-19 10:35] literarymachine commented on #1450
Fixed on production, see e.g. https://oerworldmap.org/resource/urn%3Auuid%3A839897e6-178f-11e5-871b-3c970e4a9cbf

[2018-04-19 10:35] #1450 closed

[2018-04-19 10:39] literarymachine commented on #1445
Fixed on production, see hbz/oerworldmap-ui#230 and https://oerworldmap.org/aggregation/

[2018-04-19 10:39] #1445 closed

[2018-04-19 10:43] literarymachine commented on #1442
@karindr what exactly is the problem here?

[2018-04-19 10:44] literarymachine commented on #1437
Fixed in hbz/oerworldmap-ui#236

[2018-04-19 10:44] #1437 closed

[2018-04-19 10:48] literarymachine commented on #1418
Fixed on production.

[2018-04-19 10:48] #1418 closed

[2018-04-19 10:54] karindr opened #1485 "German descriptions are not displayed if English descriptions are availabe"
... Browser is set to German, see:
https://oerworldmap.org/resource/urn%3Auuid%3Affb043ce-365f-46f6-be98-79014da5e5c5
![image](https://user-images.githubusercontent.com/18674205/38987623-b739c906-43d0-11e8-94a2-eb676d3a9fff.png)

[2018-04-19 10:56] literarymachine commented on #1379
Fixed in 37bfd4c033a08389c60973f58133174d0a674554

[2018-04-19 10:56] #1379 closed

[2018-04-19 11:06] literarymachine commented on #1485
As discussed with @trugwaldsaenger, languages other than English are currently disabled until @acka47 and I fix hbz/oerworldmap-ui#210. Thus, only if no English is available a fallback to another language happens.

[2018-04-19 11:10] literarymachine commented on #1345
Not fixed in the new UI, @dobladov can you take a look?

[2018-04-19 11:25] karindr commented on #1483
Sorry, mixed up tabs.

But for me it really feels like a bug. When I go to a picture with the mouse I do not expect it to disappear, I expect it to get bigger for example or to link me to something.

[2018-04-19 11:29] #1442 closed

[2018-04-19 11:32] karindr commented on #1183
+1

[2018-04-19 11:34] literarymachine commented on #943
Fixed on production, see e.g. https://oerworldmap.org/resource/urn:uuid:cfef010f-eac8-46a1-8dbe-3e2e62943b6e

[2018-04-19 11:34] #943 closed

[2018-04-19 11:36] literarymachine commented on #810
Fixed on production, also see #1484.

[2018-04-19 11:36] #810 closed

[2018-04-19 11:37] literarymachine commented on #937
Fixed by https://github.com/hbz/oerworldmap-ui

[2018-04-19 11:37] #937 closed

[2018-04-19 11:38] literarymachine commented on #527
Most likely done, closing. @philboeselager feel free to reopen if needed.

[2018-04-19 11:38] #527 closed

[2018-04-19 11:40] #1183 closed

[2018-04-19 11:41] #1482 closed

[2018-04-19 11:42] #891 closed

[2018-04-19 11:44] literarymachine commented on #1483
If you consider the map to also be a picture, it does become more visible when hovering it with the mouse by hiding the logo. Let's discuss this with @formimkontext, because we otherwise need another solution for pins potentially being hidden underneath the logo.

[2018-04-19 12:49] literarymachine commented on #1345
Deployed to production.

[2018-04-19 12:50] #1345 closed

[2018-04-20 09:14] formimkontext commented on #1483
i allways thought there would be only one pin shown: the location of this item.

[2018-04-20 09:48] formimkontext commented on #1465
i would add some information to the badge. maybe including a link to oeconsortium.org.

![20180420-desktop1280px-award](https://user-images.githubusercontent.com/15141949/39044519-a7ad0abe-4490-11e8-8ba6-97a284b22fed.png)

[2018-04-20 10:09] trugwaldsaenger commented on #1465
Link to the Award side is certainly a good idea. Proposal looks OK to me, but we could drop the text, make the logo significantly bigger and put the link behind the logo. What do you think? If time is a problem, I´m happy to proceed like it is now.

[2018-04-20 10:37] trugwaldsaenger commented on #1465
Could we increase the size of the badge, skip the headline and simply keep the text?

[2018-04-20 10:37] trugwaldsaenger commented on #1465
Just an idea - if it does not work I trust in your judgement - but my feeling is, that the badge should be bigger ;-)

[2018-04-20 12:46] formimkontext commented on #1347
Award and badges are added to Item View and extended Filter on production. I think we can close this issue.

[2018-04-20 13:26] acka47 commented on #1479
+1 JSON schema obvioulsy provides no possibility to set this constraint, see https://stackoverflow.com/questions/26906193/json-schema-date-greater-than-an-other. We will have to implement it in another way.

[2018-04-20 13:27] acka47 commented on #1462
This is fixed on production. Closing.

[2018-04-20 13:27] #1462 closed

[2018-04-20 13:48] acka47 commented on #1433
I think this resolved by now, isn't it @karindr ? Then please close the issue.

[2018-04-20 14:04] acka47 commented on #1272
I don't know whether this really is so lightweight. See for example this publication which has two projects as publisher: https://oerworldmap.org/resource/urn%3Auuid%3A8a7c5aa5-3b92-4ea3-acff-2b64a492ef68 The projects also do not have a location so we'd need to fetch the location from yet another entry and in the end we would have two locations in Hamburg and one in Frankfurt for this publication.

[2018-04-20 14:06] acka47 commented on #1272
Another example is this one with three "publishers" only one coming from Chile which the publication is about: https://oerworldmap.org/resource/urn%3Auuid%3A56610306-796a-4a18-9a6a-d1b47192b089

[2018-04-23 07:43] karindr opened #1486 "Browser tab should not only show number of entries"
Whith the refactoring the browser tab changed to showing the number of the entries shown on the map in this moment. I think in the tab there should be "OER World Map". This could be followed by some other information if we want to.

[2018-04-23 08:43] karindr commented on #1272
In the new item view there are several points shown for different locations, so three publishers are not a problem.

What about this idea: We add a field that a publication can be given a location actively by the person entering the data (as we have for stories). If there is no data in this field the publication inherits the location of its publishers. I don't see a problem if the publisher is a p

[2018-04-23 09:00] karindr opened #1487 "A hyphen at the beginning of a world should not be separated and stand alone at the end of a line"
See first line in the text of the example below, in “OER-Materialien und -Praktiken” there is a line break between the hyphen and “Praktiken”.

![image](https://user-images.githubusercontent.com/18674205/39116430-ba27dc04-46e4-11e8-86b7-e7672df8185c.png)

[2018-04-23 09:55] karindr opened #1488 "Should the funder be displayed as prominent as the operator of a project?"
In the new item-view the funder is placed directly under the operater in a very prominent place. From my point of view the operator is more important and the funder does not need to be placed in such a prominent way. What do you think?
I suggest to put the funder in the list below the text or at least display him in a smaler font.
![image](https://user-images.githubusercontent.com/18674205/3911942

[2018-04-23 10:03] karindr opened #1489 "Strange "changes" showed in logs of entries"
Have a look at this:
https://oerworldmap.org/log/urn:uuid:311ad28b-83b2-406b-a53f-a34be89d29e2?compare=e68a6b1e50d7a7abd87e48d0102fc8ccd15b67b7&to=d8aa10dd5acf4c4d53fd318a35848bf23d2d4709
To me some of the changes (e.g. Partners and Tags) look like changes in the order not real changes. This seems to make no sense like this.

[2018-04-23 10:54] karindr opened #1490 "Can't save info@öwr-projekt.de as mail adress"
Is the Umlaut making troubles? It shouldn't.
![image](https://user-images.githubusercontent.com/18674205/39122367-f8abab8a-46f4-11e8-92ac-2da26c155346.png)

[2018-04-23 10:57] karindr opened #1491 "There should be a search field in every view of the map"
When you are in the item view it is quite annoying that you have to close this view (what is quite slow) to be able to enter a search term.

[2018-04-23 11:13] acka47 commented on #1491
I am not sure. Especially for stories it makes sense to have the focus on the entry. Maybe it would suffice implementing what I wrote in https://github.com/hbz/oerworldmap-ui/issues/192#issuecomment-378247098?

[2018-04-23 11:25] acka47 commented on #1490
Yes, it's the Umlaut.

[2018-04-23 18:48] literarymachine commented on #1347
Done for now, closing.

[2018-04-23 18:48] #1347 closed

[2018-04-23 18:56] literarymachine commented on #1487
Please don't only add screenshots here, also link to the entry in question. Thanks.

[2018-04-25 08:50] karindr opened #1492 "Little arrow is hidden behind "date created""
Sometimes the little arrow behind "date created" is hidden behind the word, see:
![unbenannt](https://user-images.githubusercontent.com/18674205/39235643-c01126fa-4876-11e8-8e44-67e267df0e29.png)
Most times it works fine but I have seen it several times to be hidden. Can't see a pattern. This time in country viel of The Netherlands.
https://oerworldmap.org/country/nl

[2018-04-25 08:54] karindr opened #1493 "Inconsistent behaviour of country views with regard to search terms"

[2018-04-25 09:09] literarymachine commented on #1493
Can you explain? It works for me, clearing the filters but keeping the search term as requested in #891.

[2018-04-25 09:10] literarymachine commented on #1493
![image](https://user-images.githubusercontent.com/149825/39236426-2ee1434c-4879-11e8-8d93-49eed39f8dfa.png)

![image](https://user-images.githubusercontent.com/149825/39236459-3e63cd3a-4879-11e8-9e54-84efe45ae54b.png)

[2018-04-25 09:25] karindr commented on #1493
You are right. I got mixed up ;-). I'll change this issue to this:

When I have a search term in the search field and change to a country view, the country view is shown with all its entries not considering the search term (which is still shown), but when I change the list to be sorted in an other way the search term is beeing used and the number of results is being reduced.

[2018-04-25 09:33] acka47 opened #1494 "Put @context in root object"
Currently, the `@context` link is in the `about` object but as far as I know it should be in the root object. At least, it is done like that in all examples in the spec and in the implementations I know. Could not find it in the specification, though.

[2018-04-25 09:42] literarymachine commented on #1493
Ah, I see! That is indeed not the way it is supposed to be.

[2018-04-25 10:02] karindr opened #1495 "Entering regional information to locations in the map"
I did some corrections for organisation which did appear on the map with a point but did not affect the color of their region in The Netherlands. For these two organisations the regional information was missing. When I added the region the location was deleted and I had to enter it again.

In addition to this it is difficult to know the region for foreign countries. I had to look up the names of t

[2018-04-25 10:15] karindr commented on #1491
Yes, this would be good!

I think our graphic collegues would not like it ;-), but I think it is a not so bad idea: I suggest to put the search field in the hearder so automatically it is displaed in every view. If it is placed on the right it is still near the filter section.

[2018-04-25 10:29] karindr commented on #1483
I suggest to add the link to the original resource also to the logo. In the new item view it is placed very prominent and as user I would think that clicking on the logo will get me to the website of the organisation,  project and so on.

Mabe we can solve the problem this way: When you click on the mini map then the logo goes away and if you click on the logo you follow the link. When you hover n

[2018-04-25 10:34] karindr commented on #1433
No, it is about adding the abbreviation to the name in any place the name is used.

[2018-04-26 06:13] karindr commented on #848
Again we have two new duplicates. Even OEGlobal was submitted again!

[2018-04-26 06:59] literarymachine commented on #848
Yes, one of them was me while demonstrating to someone. Just out of interest, do you have actual numbers how often this happens?

[2018-04-26 07:36] karindr opened #1496 "Change "A description for this entry is missing. Help us by adding some information!" in personal profiles"
Since I can only change the bio in my own personal profile I think this text should not be shown to all visitors but only to the owner of the profile. If it is only shown to the owner the second sentence should read: "Please add information about youself". The text for the rest of the visitors could be the first sentence.
![image](https://user-images.githubusercontent.com/18674205/39291537-a8868f6

[2018-04-26 09:13] karindr opened #1497 "Should we prevent duplicate roles for the same organisation?"
Have a look at this example:
https://oerworldmap.org/resource/urn%3Auuid%3A7d2837c0-aff1-412e-8817-2a0030a1f7c0
(Fistr I will write to them to change the personal profile to a Person with real name and remove it as operator, that is no question.)
Should it be possible to link a project to an organisation as operator, as funder and as beeing member of at the same time? To me it sounds circular to b

[2018-04-26 09:19] karindr opened #1498 "Sorting by date created is not working precisely"
I am not shure if this is really a problem, but I want to share my finding. I the list of new entries sorted by date created there is the entry of Kai Wörner placed above the entry of DiBiS which was created by him. Clearly he could not have created this entry before he was registered.
![image](https://user-images.githubusercontent.com/18674205/39297364-974d18aa-4943-11e8-86e3-8cf97b2a4e4c.png)
ht

[2018-04-26 09:28] literarymachine commented on #1498
I actually also stumbled across this behavior just this morning! Will investigate if there is a general issue with regards to sorting by `dateCreated`.

[2018-04-26 09:35] literarymachine commented on #1498
I can confirm this is a bug introduced in https://github.com/hbz/oerworldmap-ui/pull/276

[2018-04-26 09:35] karindr opened #1499 "Get rid of screenname or at least hide the field in input template"
The next entry from someone who misunderstood this feature so there is the abbreviarion and in brackets also the abbreviation (I don't add the link because I am going to correct it):
![image](https://user-images.githubusercontent.com/18674205/39298073-870a67c0-4945-11e8-9407-d131d6dfd2eb.png)
There have been a lot of misunderstandings by users of this field with various strange outcomes so I sugge

[2018-04-26 09:40] literarymachine commented on #1499
We should solve this together with #1433.

[2018-04-26 09:43] karindr commented on #1499
Whith the new Item view long names are no longer such a problem!

The ony point I see for keeping the screen name it producing the OER Atlas.

[2018-04-26 09:46] karindr commented on #1499
Yes there are some older examples for this issue too.

[2018-04-26 09:48] karindr commented on #1498
It makes it quite difficult to work with the list, because it changes sometimes (e.g. since I opened this issue).

[2018-04-26 09:52] literarymachine commented on #1498
Yes. This is why I labelled it a bug and re-assigned it to the developers.

[2018-04-26 09:56] karindr commented on #848
About twice a month I would say. It creates a lot of work for me because I have to look at both entries and collect the better information in one profile and delete the second. Sometimes I contact the users to explain to them why I will delete their entry and to have a look at the new entry. It is not very encouraging when your first contibution to a platform where you have voluntarily contributed

[2018-04-26 10:03] literarymachine commented on #1498
Fixed on production: https://oerworldmap.org/feed/

[2018-04-26 10:29] karindr commented on #1498
Looked at some entries, seems to be right now. +1 Thanks!

[2018-04-26 11:08] karindr opened #1500 "If for some entries there is only a country as location the minimap should be centered to this county"
It looks strange when the entry says Germany and at the same time the map is centered to Africa. (Yes, I know that the map is centered to Africa everytime there are no coordinats.) But maybe there is a way to cheat in these cases.

[2018-04-26 11:16] #1498 closed

[2018-04-26 11:25] literarymachine commented on #1367
Another example for the false positives:

![image](https://user-images.githubusercontent.com/149825/39302994-dfb62170-4954-11e8-9093-ee3d9baec4d5.png)

I think we should revert d19c7c4be109effb11639f69ff660a2c07802e08 and look into fuzzy queries regarding typos.

[2018-04-26 15:36] philboeselager commented on #1441
Comprised in https://github.com/hbz/oerworldmap/commit/42868fbd76ae4910d095aa1c5b70ab902c69af38.

[2018-04-27 07:14] literarymachine commented on #946
Fixed in 32bf459e8c2feeb8edd1ef9ff6e5ed41cd84a59b and https://github.com/hbz/oerworldmap-ui/commit/837a3c7bf7ba2420dcc95a64f0fd84521d28ba0c, deployed to production.

[2018-04-27 07:14] #946 closed

[2018-04-27 07:54] #1486 closed

[2018-04-27 08:30] literarymachine commented on #1489
Fixed in hbz/oerworldmap-ui#276, see e.g. https://oerworldmap.org/log/urn:uuid:311ad28b-83b2-406b-a53f-a34be89d29e2?compare=e68a6b1e50d7a7abd87e48d0102fc8ccd15b67b7&to=d8aa10dd5acf4c4d53fd318a35848bf23d2d4709

[2018-04-27 08:30] #1489 closed

[2018-04-27 10:18] trugwaldsaenger opened #1502 "Wrong input-template shown"
When editing an entry it occasionally appears that the wrong input template is shown.
Example:
I tried to edit the OE Global profile yesterday and the template for a person appeared.

![grafik](https://user-images.githubusercontent.com/6639965/39358035-0025402e-4a15-11e8-90dc-f36d81699ac0.png)
![grafik](https://user-images.githubusercontent.com/6639965/39358049-0a99c8fe-4a15-11e8-892f-b7cdf7d9dc57

[2018-04-27 10:49] literarymachine commented on #1349
On production, ok like this?

[2018-04-27 11:01] #1493 closed

[2018-04-27 11:01] #1502 closed

[2018-04-27 11:57] acka47 commented on #789
This does not work on the new map at all.

[2018-05-02 07:04] karindr commented on #1349
I like the new widget. It seems to be quite intuitiv to handle! So I close this issue. If users begin to enter lists of word as one tag again we can reopen it.

[2018-05-02 07:04] #1349 closed

[2018-05-02 07:22] karindr opened #1503 "Login does not work in IE, endless spinner"
Comment of the user Jacques Versteijnen per mail to info@oerworldmap.org: "When I login to the oerworldmap in IE I don’t get access. Turning circles endlessly."

[2018-05-02 09:15] literarymachine commented on #700
See #1503

[2018-05-02 09:17] literarymachine opened #1504 "Should we introduce likes for all entry types except persons?"
Moved here from https://github.com/hbz/oerworldmap-ui/issues/284:

Reading a story on the OER World Map I asked myself why I am not able to like it.

I suggest to make all entry types except persons likeable. As far as I can see people do not very often use the like button until now. Maybe the psychological barrier is lower to like a story than an organisation because you can simply read a story.

[2018-05-02 10:26] literarymachine opened #1505 "Add possibility to add logos/pictures for publications"
Moved here from https://github.com/hbz/oerworldmap-ui/issues/285:

Whith the new entry view this would be better, because the place for the logo is so prominent.

[2018-05-02 10:55] karindr commented on #1477
Since we have the new template this happens quite often, because it is more inviting now. I change it if I find more than one primary sectors chosen, but it should be changed in the template soon.

[2018-05-02 11:09] karindr opened #1506 "Some problems/issues with the filter section"
A user from the Netherland and from OEGlobal writes (he is teacher of information literacy):

"What confuses me is the way the searching goes.
Even as a teacher of information literacy the search engine was (very) confusing to me.
What confused me was:
1.A. When I enter the map
b. click on tag
c. choose one the filters in the list
               I don’t get to see a list of the filter i chose.
I n

[2018-05-02 11:26] literarymachine commented on #1506
If I understand this correctly, we could fix this by not automatically unsetting other (primary) filters when changing the type (referred to as "one of the icons" above). To me it seems we have implemented this in https://github.com/hbz/oerworldmap/issues/977 in order to avoid zero hit results when a secondary filter (e.g. `license`) is enabled and the user switches to a type to which that filter

[2018-05-03 10:08] karindr opened #1507 "Mark shortened URL with "...""
In the links under the description text of an entry only the domain of the linked URL is shown because the URL are often long and don't look nice. It's a feature as @literarymachine told me (which came with the new UI I think). Especially for publications I find it irritating if the link looks as if it would lead to the domain. I suggest to add "..." to the URLs to mark that the URL is shortended.

[2018-05-04 14:55] literarymachine commented on #1485
Fixed on production, see e.g. https://oerworldmap.org/resource/urn%3Auuid%3Affb043ce-365f-46f6-be98-79014da5e5c5

[2018-05-04 14:55] #1485 closed

[2018-05-04 14:55] #1473 closed

[2018-05-04 16:04] trugwaldsaenger commented on #1503
Problem occurs within IE11 with me as well!

[2018-05-04 16:34] literarymachine commented on #1503
@dobladov already looked into this. The problem lies within a library we are relying on and is not easily fixed. Microsoft itself is only [supporting](https://www.microsoft.com/en-us/windowsforbusiness/end-of-ie-support) the most current version and is urging its users to move on to Edge. Thus I would tend to clearly not support Internet Explorer, which should of course be indicated to the user in

[2018-05-04 22:31] trugwaldsaenger commented on #1495
+1 We should definetly get rid of the obligatory regions. If you want to add something in a country you do not now so good it will slow you down significantly

[2018-05-04 22:42] trugwaldsaenger commented on #1481
Agreed that tools should get locations as well. I like the idea of locating it at the location of it`s use. It´s an interesting new way of looking at the map. Nevertheless staying with the location of its provider (if there is one) seems more obvious to me.

[2018-05-04 22:46] trugwaldsaenger commented on #1484
seems to be related to #1495

[2018-05-04 22:48] trugwaldsaenger commented on #1470
Second badge was choosen to be used. Closing

[2018-05-04 23:00] trugwaldsaenger commented on #1503
On Edge it is working.

Would be OK for me. But we should check how many users are using still IE. Giving the users a hint probably will be necessary anyway and probably a good interim solution.

[2018-05-04 23:04] trugwaldsaenger commented on #1505
I agree, that this would look much better. But what should be included here? In some cases we could use the cover of a publication. But what if a cover is not available?

[2018-05-04 23:08] trugwaldsaenger commented on #1504
+1

[2018-05-06 09:44] literarymachine commented on #1495
Regions are - UI-wise - obligatory if you want to add an exact address later on, because it makes the hits of the lookup much more exact. A region is *not* obligatory to save an entry, as before only a country is necessary for that!

Ok, this is indeed not ideal.

There is, but then we only get regions if people go ahead an enter their entire address.

In the end, I suggest showing only the Countr

[2018-05-06 09:48] literarymachine commented on #1484
Only loosely. The main issue here is that we have quite some [legacy data](https://oerworldmap.org/resource/?q=_exists_:about.location.geo%20AND%20_missing_:about.location.address.addressRegion) where coordinates are set (resulting in dots on the map) but regions are not (resulting in not being counted for the coloring of the regions).

[2018-05-06 09:49] literarymachine commented on #1503
@acka47 can you pull up the piwik stats for this?

[2018-05-07 09:14] literarymachine commented on #1495
Solution: show address along with region after a country is selected

[2018-05-07 09:28] acka47 opened #1508 "Add missing region information based on geo coordinate"
Currently, there are ~550 **entries that have geo coordinates but no region information**: https://oerworldmap.org/resource/?q=NOT%20_exists_:about.location.address.addressRegion%20AND%20_exists_:about.location.geo

Furthermore, there are ~70 **entries missing region and coordinate information but having country and street address**: https://oerworldmap.org/resource/?q=NOT%20_exists_:about.locatio

[2018-05-07 09:29] acka47 commented on #1495
I opened an issue regarding the retroactive addition of region information to older entries, see https://github.com/hbz/oerworldmap/issues/1508

[2018-05-07 09:35] literarymachine commented on #1458
Possible UI-solution:
- Show required fields by default
- Show populated fields by default
- Show Drop-down with *all* fields available, clicking a field adds it to the form
- Optionally cluster fields in the drop-down by topic (@trugwaldsaenger, @acka47, @karindr)

[2018-05-07 09:41] literarymachine commented on #848
For now, check `name` while it is being entered, not restricted to the current type.

[2018-05-07 09:55] karindr opened #1509 "Collecting English words which do not show up in crowdin"
At the moment all files are translated in crowdin 100% except imprint which we descided not to translate.

In the input templates: "Place" = Ort, "Canel" = Abbrechen

[2018-05-07 09:57] literarymachine commented on #1506
- Simple mode: clicking on a filter directly sets it
- Advanced mode: SHIFT / CTRL + click allows to select multiple filters

[2018-05-07 10:03] formimkontext commented on #1458
see #482 and those documents:
https://docs.google.com/document/d/1e_SezYhhGMdPe4h8q9_xCI1CgmNvVecKAiqX7f6_TrY/edit
https://docs.google.com/spreadsheets/d/1XycxHG1hCn21NTzfGt8U1BymwIbz-Rbt0eH3WPPmJ4Q/

[2018-05-07 10:04] acka47 commented on #1402
Closing this for now.

[2018-05-07 10:04] #1402 closed

[2018-05-07 10:08] acka47 commented on #1272
This is similar to #1272 which is about locations for online events.

[2018-05-07 10:10] literarymachine commented on #1468
If we use an external provider, we have to check for legal implications.

[2018-05-07 10:55] acka47 opened #1510 "Import OER policy registry"
- currently a wiki: https://wiki.creativecommons.org/wiki/OER_Policy_Registry ([template](https://wiki.creativecommons.org/wiki/Template:OER_Policy))
- Goal: Launch of policy map at OER Policy Meeting in Warsaw in Sept. 2018
- Potential additional fields: "resulting program"
- [ ] ~~Felix and Philipp do first conversion & import to Beta, then await Feedback~~
- [ ] @karindr will manually add a sam

[2018-05-07 11:48] formimkontext commented on #1491
with the header menu we talked about at the last teammeeting and we agreed to implement, the user will have access to the search field from every site of the world map. see draft below. maybe we can differ between "search" (search field) and "find" (categories) and add "search" as a single point to the header menu.

![201801-desktop-1280px-header_menu_1_find_3](https://user-images.githubuserconten

[2018-05-08 07:09] karindr commented on #1420
Solved with new UI.

[2018-05-08 07:09] #1420 closed

[2018-05-08 07:29] karindr commented on #1373
It is better now. Closing.

[2018-05-08 07:29] #1373 closed

[2018-05-08 07:37] karindr commented on #1324
Solved with new UI.

[2018-05-08 07:37] #1324 closed

[2018-05-08 07:38] karindr commented on #1364
seems to be solved.

[2018-05-08 07:38] #1364 closed

[2018-05-08 07:42] karindr commented on #1509
Note to me: Land nicht Ort bei Filtern.

[2018-05-08 07:45] karindr commented on #1346
Now it is sorted by number of related entries. I don't know if this is useful. I prefere the alphabetical order.

[2018-05-08 07:53] karindr opened #1511 "Searching for "neu" in Persons not getting Neumann as result"
https://oerworldmap.org/resource/?q=neu&filter.about.%40type=Person&size=20

[2018-05-08 07:53] karindr commented on #1332
Solved.

[2018-05-08 07:53] #1332 closed

[2018-05-08 08:00] karindr opened #1512 ""%" in some templates"
For example "add tools" and "edit personal profile"
https://oerworldmap.org/resource/?q=neu&filter.about.%40type=Person&size=20

[2018-05-08 08:05] karindr commented on #1509
In template:
"Hauptbildungssektor:
Suche Konzept" must be "Bildungssektor"

[2018-05-08 08:12] karindr commented on #1316
Mostly solved, closing.

[2018-05-08 08:12] #1316 closed

[2018-05-08 08:24] karindr opened #1513 "Tools shoud have a kind of licence field"
A user suggested we should have some information about the tools wether they are free, open source or fee based. I think that would be useful an consistent with the idea of openess on the OER World Map.

[2018-05-08 08:47] karindr opened #1514 "Make the asterisk in the templates more recognisable"
To me the asterisk in the templates which should indicate the obligatory fiels at the first look looked like a strange orange flower. I think more people like me (useres with no technical background) will recognise it easier when it is:

- not displayed in a bold font (then it looks more like a star and less like a flower) and
- is displayed in blue

In adition there should be a mouse overlabel: "

[2018-05-08 08:51] karindr commented on #1512
% is also more often in the templates.

[2018-05-08 09:03] karindr opened #1515 "Sharing a list from the World Map to facebook only shows the number of the entries"
When you want to share a list from the map on facebook it does not look very nice:
![image](https://user-images.githubusercontent.com/18674205/38854470-da497dbc-4220-11e8-8aae-61146c5e2275.png)

[2018-05-08 09:14] karindr opened #1516 "Differnt blues for same and same blue for different things"

[2018-05-08 09:33] karindr opened #1517 "Some design issues for the new item view"
Took some points from the long isssue to be able to close it:
https://github.com/hbz/oerworldmap-ui/issues/194

Yes, please hide the abbreviation in this list. It is not necessary here and this makes several problems disappear!

This would be good.

[2018-05-08 09:40] j0hj0h opened #1518 "Make metadata shown in resource popovers and other resource previews curatable"
The information going into the preview for resources that is used in popovers on the map and probably in search results soon as well, should be prioritizable on the schema level.

[draft for resource preview](https://user-images.githubusercontent.com/15141949/36479831-6a54d6fa-170a-11e8-97dd-822c302673a1.png)

[2018-05-08 09:42] karindr commented on #1517
headings and text should be different. since allmost every entry within the lists beneath the tag-section is a link to another world map entry, its color would be blue.

Form me there is not enough difference. Have a look at a screen like this:
![image](https://user-images.githubusercontent.com/18674205/38928085-032e1fca-4308-11e8-94d1-35d171442ed3.png)

[2018-05-08 09:45] trugwaldsaenger opened #1519 "Add OE relevance hint to input templates"
#Problem: We observe more entries which do not show a clear relation to OER or Open Education.

Solution: When adding a new dataset a hint should be shown:

"The OER World Map collects data related to Open Educational Resources (OER) and Open Education as outlined in the Cape Town Declaration (http://www.capetowndeclaration.org/) and the 2012 OER Paris Declaration (http://www.unesco.org/new/filead

[2018-05-08 09:49] karindr commented on #1517
We aggreed on this points.

[2018-05-08 10:03] acka47 commented on #1513
The thing is that tools use other licenses than Creative Commons. So we will first have to create a controlled list of possible values for licenses for tools. I suggest a simple binary solution, distinguishing between [Open Source definition](https://opensource.org/osd) compliant licenses (see https://opensource.org/licenses)  and closed source.

[2018-05-08 10:11] karindr commented on #1303
Links are aktive. Closing

[2018-05-08 10:11] #1303 closed

[2018-05-08 10:14] #1512 closed

[2018-05-08 10:34] karindr commented on #1300
this did not happen for quite a long time. I think it is solved. Closing.

[2018-05-08 10:34] #1300 closed

[2018-05-08 10:38] karindr commented on #1509
Above comments: "In ein paar Sekunden" muss heißen "**Vor** ein paar Sekunden"

[2018-05-08 10:42] karindr commented on #1509
Tis is used in different places!

[2018-05-08 10:58] karindr opened #1520 "People with personal profiles without name can comment without name. Change this"
Maybe there are not much people like this and maybe they don't make comment but this possibility is against our strategie that we want comments to be referenced to their authors. This is kind of a bug but it is very unlikely to happen so I will take the label enhancement.

[2018-05-08 11:08] karindr commented on #1288
Now we have the faster mouseovers we could use the Texts like suggested from @formimkontext above.

[2018-05-08 11:12] karindr opened #1521 "Close item view by clicking on the background"
As @acka47 also mentioned it would be useful to be able to leave the item view by clicking on the map behind so you don't have to scroll and unse the mouse.

[2018-05-08 12:42] formimkontext commented on #1288
@karindr can you please provide text for tools and publications

[2018-05-08 13:28] acka47 commented on #1461
At the team meeting we yesterday decided to think about how we actually would include this data in our data model and then ask repository providers to submit their statistics according to the structure we come up with.

[2018-05-08 13:37] acka47 opened #1522 "API documentation isn't shown"
See https://oerworldmap.org/api

[2018-05-08 13:47] j0hj0h commented on #962
We agreed on the following meta data:

* Landingpage:
    * `<title>`: Navigate the world of OER! / OER World Map
    * `og:title`: Navigate the world of OER!
    * `og:image`: large, designed by felix
    * `og:description`, `<meta>`-description: The goal of the OER World Map is to illuminate the global Open Educational Resources movement by facilitating interaction and collaboration.
* other sta

[2018-05-08 13:48] j0hj0h commented on #962
Also see:
https://github.com/hbz/oerworldmap/issues/1515
https://github.com/hbz/oerworldmap/issues/1354
https://github.com/hbz/oerworldmap/issues/1112

[2018-05-08 13:55] formimkontext commented on #1517
all done.

[2018-05-08 13:57] acka47 commented on #1461
There are different options for implementing this in our data structure.

1. Add a `statistics` object where we put all the count information.
2. Adjust our current data model for subject and license information to also add count data.

In this comment, I am focussing on 2.) although 1.) might be the better way to go.

For the number of resources provided by a service, we could just add a property

[2018-05-08 16:28] trugwaldsaenger commented on #1461
@acka47: How do we find out, which way is the better one?

[2018-05-08 16:36] trugwaldsaenger commented on #1288
@karindr @formimkontext: What about this?

Tools: See, which software is used by which service
Publication: Find the best information on OER available on the web

[2018-05-08 17:11] trugwaldsaenger commented on #1521
I agree, it is rather unconfortable to scroll back to the top of the site and close the profile. I think it is not terrible urgent, so we can keep it on P3. On the other hand it might be implemented easily, so @literarymachine can check if this is something which can be done in between...

[2018-05-08 17:16] trugwaldsaenger commented on #1288
I would go for "Service: Find repositories and other OER-services"

[2018-05-08 18:33] trugwaldsaenger commented on #1511
I do not really understand this sentence. Anyway - we discussed today that adding autocompletion to the search box will be a good solution to this problem. Closing.

[2018-05-08 18:33] #1511 closed

[2018-05-08 18:40] trugwaldsaenger commented on #1346
I agree, alphabetical order would be preferable. Nevertheless, I also agree with the P3 priority for the moment. So if numbers of searches increase we can increase the priority.
--

[2018-05-08 19:01] trugwaldsaenger commented on #1272
Certainly an issue, it would be preferably to have as many pins as possible. Nevertheless publications are not our highest priority at the moment. This might change, when we are working on implementing the OER policy registry, since I consider policies to be a subtype of publications.

In this context I think it is interesting to read @acka47 remark:

This would be helpful for policies, since with

[2018-05-09 06:50] karindr commented on #1518
Good idea to show the tags so prominent so people will be encouraged to use tags for their own profiles.

[2018-05-09 07:01] karindr commented on #1288
+1

[2018-05-09 07:10] karindr commented on #1517
Sorry, I can't find these changes neither on production nor on beta.

[2018-05-09 07:27] karindr commented on #1272
If we add a location field to the publication template like it is in the stories template we can choose the location the publication is about. And if this field is left empty we can show the location(s) of the publishers as we do for projects.

[2018-05-09 07:30] acka47 commented on #1513
Ok. @literarymachine, does it make sense to just use the JSON schema for the two options instead of creating a SKOS file? I am not sure how internationalization would work with this approach, though...

[2018-05-09 07:35] karindr commented on #1481
If we want to locate the tools by using the location of their provider we will be forced to add the providers to te map to get locations. By doing this we will have to add a lot of organisations like Microsoft, Adobe and so on who are not really related to OER or openess.

Because of this using the locations of the organisations/projects using the tools would be a lightweight option we should cons

[2018-05-09 08:16] acka47 opened #1523 "Some problems with browser language"
There are some small inconsistencies with the language in the browser.

- [x] On the landing page (https://oerworldmap.org) the nav bar is always in English no matter what language the browser asks for.
- ~[ ] On https://oerworldmap.org/resource/ the nav bar is correctly in German when the browser asks for DE but it is in English when asking for PT-BR.~
- [x] The HTML title is ok with the German v

[2018-05-09 08:31] literarymachine commented on #1523
Yes. Because the landing page is currently only available in English. The navigation will be localized once the content ist.

Yes, because our files are named `.pt` and not `pt-br`. Asking for `PT` correspondingly delivers the Portuguese content. Crowdin also delivers `.pt`, not `.pt-br`, right? So this is IMHO not a bug, although we might want to implement falling back if the country specific i18

[2018-05-09 08:32] literarymachine commented on #1523
Again, we currently don't support `pt-br`. If individual strings are wrong like e.g. the German "Einträge anzeigen", they can be fixed in crowdin.

[2018-05-09 08:35] literarymachine commented on #1522
Confirmed, this has been broken by #1474. We want files do be downloaded when using the export function, but obviously not when embedding them in an iFrame.

[2018-05-09 08:39] karindr commented on #1523
On the Contribute page there is no difference wether I use pt or pt.br but this difference is on https://oerworldmap.org/resource/.

[2018-05-09 08:44] acka47 commented on #1523
I updated the issue with using PT only as some of the problems pertain. As this actually is PT-BR what we offer, we will have to fix this. Am I right, that the i18n files have just to be named accordingly by CrowdIn (i.e. using "pt-br" instead of "pt")?

[2018-05-09 08:48] acka47 commented on #1523
It actually is quite strange that pt-br is partly supported by the site. Can it be that this has to do something with the different naming conventions (dot versus underscore), @literarymachine ?

[2018-05-09 08:53] literarymachine commented on #1523
I believe so, but then we will support only `pt-br` and not `pt` which would be a pity.

[2018-05-09 08:57] literarymachine commented on #1523
Just to understand this right. Can we agree that using `pt` works properly both on the map and on the static pages?

![image](https://user-images.githubusercontent.com/149825/39805579-82c99604-5377-11e8-9401-9a50451a96cd.png)

![image](https://user-images.githubusercontent.com/149825/39805591-8ce864da-5377-11e8-9e93-ddd2ba0c7922.png)

No, it looks like the map and the static pages currently deal d

[2018-05-09 09:29] acka47 opened #1524 "Implement language fallback from pt-br to pt"
As mentioned in https://github.com/hbz/oerworldmap/issues/1523#issuecomment-387668921 "[i]t actually is quite strange that pt-br is partly supported by the site."

The jekyll-provided static pages provide a fallback to pt when the browser asks for pt-br but the app doesn't We should make the app work accordingly.

[2018-05-09 09:34] formimkontext commented on #1517
i know, sorry!

[2018-05-09 09:40] literarymachine commented on #1461
@acka47  I was just wondering if the approach in https://github.com/hbz/oerworldmap/issues/941#issuecomment-267125691 could also be applied here:

[code]

[2018-05-09 09:44] literarymachine commented on #1520
For quite a long time now, `name` has been a required property that has to be given during registration and also cannot be removed when editing the profile. Thus, I think we are dealing with a non-issue here.

[2018-05-09 09:59] acka47 commented on #1513
I updated the schema, see the commit above. What should I do to add the field, the label and a description to the form as well as labels for the controlled values?

[2018-05-09 10:13] literarymachine commented on #1513
To add the field to the form you need not do anything; forms are now based on the JSON Schema. Add `Product.rights` to [labels.json](https://github.com/hbz/oerworldmap-ui/blob/master/docs/_data/locale/labels.json) and [descriptions.json](https://github.com/hbz/oerworldmap-ui/blob/master/docs/_data/locale/descriptions.json). For the controlled values, you can for now simply add they keys `floss` an

[2018-05-09 11:05] karindr commented on #1520
I have such an account, but won't do this. Closing.

[2018-05-09 11:05] #1520 closed

[2018-05-09 11:34] acka47 commented on #1461
@literarymachine I would really like it if schema.org supported something like this but 1.) `count` is not in schema.org and 2.) [`Role`](http://schema.org/Role) is not used like this AFAIK. Although its general description covers it ("Represents additional information about a relationship or property.") the examples are all cases where there are relations between at least on agent (person or orga

[2018-05-09 11:35] acka47 commented on #1461
We might do use http://schema.org/AggregateOffer here, though...

[2018-05-09 13:29] literarymachine commented on #1461
If we do this, we would either have to keep in mind that e.g. licence information comes from two places now: (imported) statistics and manual entries. I think there should only be one source of truth. So if we add the `statistics` object, I think we should get rid of the `license` and `about` fields. Which sort of makes it the same problem: how to model relation counts.

[2018-05-09 13:53] formimkontext commented on #1521
this is because the item view looks like an overlay but technically isn’t. one solution would be, to close it by clicking on the background. or we can make the x-button fix, so it isn’t floating out of the viewport.

on the long run, we should ad some more content and functionality to the item view. like the ›similar entries‹ section shown in this draft: https://user-images.githubusercontent.com/1

[2018-05-09 15:09] formimkontext commented on #962
what about using details of the colorplath map for facebook posts? so we won’t favour any country or region and get some nice images. maybe something like this:

![oerworldmap-facebook-250x250](https://user-images.githubusercontent.com/15141949/39822701-863cde66-53ab-11e8-84d4-1d066a9a8b51.png)
![oerworldmap-facebook-1200x628-2](https://user-images.githubusercontent.com/15141949/39822702-865862a8-

[2018-05-09 16:02] #1517 closed

[2018-05-09 16:07] #1507 closed

[2018-05-09 16:10] literarymachine commented on #1500
Fixed in https://github.com/hbz/oerworldmap-ui/pull/290

[2018-05-09 16:10] #1500 closed

[2018-05-09 18:17] acka47 commented on #1513
Reopening. We also need to merge and deploy https://github.com/hbz/oerworldmap/pull/1525 to close this.

[2018-05-09 20:45] nichtich opened #1526 "Replace mercator projection"
The mercator projection is euro-centric and blows up the north (Alaska, Greenland...). Many more suitable projections exist. While the disadvantage of Mercator is obvious in theory, replacing in in practice [seems to be hard](https://developmentseed.org/blog/2016/12/15/dirty-reprojectors/).

[2018-05-11 14:07] trugwaldsaenger opened #1527 "Add Open Education Awards to Map"
https://docs.google.com/spreadsheets/d/1Pq2avxfcfUwgOTWcI0sbAiCOHIoNsJECDEzLBqTDMxw/edit#gid=1097758367
Main thing will be a editorial task:

- add all winners to the map
- add link to badge
- ask winner to register and complete profile
- celebrate

[2018-05-14 08:11] karindr commented on #1521
Floatin x-button would be better than having scroll.

[2018-05-14 08:16] karindr commented on #962
In what cases would these details be shown?

[2018-05-14 10:12] karindr opened #1528 "In the country view it would be nice to have hovering lables for the regions"
It would be nice to have such lables for regions as we have them for contries. It would also help us to find the regions to add the regional information to entries without this information.

[2018-05-14 10:19] karindr opened #1529 "Stange behaviour of dots for entry"
This enty has a country, region and an address but no dot on the map. Why?
https://oerworldmap.org/resource/urn:uuid:5b403cd0-e732-4ad7-acb2-30242c96742c?

[2018-05-14 10:32] literarymachine commented on #1529
https://oerworldmap.org/resource/urn:uuid:5b403cd0-e732-4ad7-acb2-30242c96742c

Because it does not have geo coordinates. The person who added it probably did not use the location lookup. In this case, no geo coordinates are added (because we don't know them).

[2018-05-14 10:35] literarymachine commented on #1529
This one indeed (always) have a dot. The problem seems to be that sometimes it is placed off the view port and not being zoomed to.

[2018-05-14 10:46] karindr commented on #1529
I tried to fix this. It does not work because the regions for Denmark are wrong: Hovedstaden is missing, there is only Sjaælland but five times. If I choose this region I cant get the Address because it is the wrong region.

[2018-05-14 10:59] literarymachine opened #1530 "Regions for Denmark broken"
Hovedstaden is missing, there is only Sjaælland but five times:

![image](https://user-images.githubusercontent.com/149825/39993582-9e6eafea-5776-11e8-9f87-c882effd8bab.png)

[2018-05-14 11:00] literarymachine commented on #1529
Added as bug #1530.

I'll be fixing the input template shortly as discussed at the team meeting (making the region not required to add the rest of the address).

[2018-05-14 11:13] trugwaldsaenger commented on #1528
I agree, that this would be helpful. I also agree that it is an enhancement and that its a Prio 3 issue.

[2018-05-14 12:51] literarymachine commented on #1529
@dobladov the behavior that the pin is not centered and zoomed to also occurs in the `Minimap` on the `PlaceWidget` every now and then. So I assume it is some timing issue.

[2018-05-14 15:58] literarymachine commented on #1112
On production, the image used should now always be the image from the `image` field in the input template.

[2018-05-14 16:01] literarymachine commented on #1515
On production. Besides the pure number, the title is now more human readable and an image is always added to the shared link.

[2018-05-14 16:08] literarymachine commented on #1354
Fixed on production.

[2018-05-15 06:41] karindr commented on #1354
+1

[2018-05-15 06:54] karindr opened #1531 "Change in displaying markup mixed with HTML"
Have a look at this story
https://oerworldmap.org/resource/urn%3Auuid%3Afde78e22-a299-4b81-bc20-5e5f4ee76867?
It was displayed as planned in the old UI but now the headings aren't displayed as headings but with ##.

[2018-05-15 06:57] karindr commented on #1112
At the moment for the first case nothing has changed. This would be a case for the new images from @formimkontext, I think?

[2018-05-15 06:58] karindr commented on #1515
+1

[2018-05-15 07:40] karindr opened #1532 "Why is the Bundesland Brandenburg white allthough there is at least an organisation ..."
... with address and regional information:
https://oerworldmap.org/resource/urn:uuid:cc081290-c8d9-45dd-aa56-66d7e3fe6aed

[2018-05-15 08:02] literarymachine commented on #1532
This is most likely related to #1530. Unfortunately, getting regions right on a global scale is hard. @dobladov can you take a look at our regions layer what the code for Brandenburg is? Probably it is not matching what is given in the data.

[2018-05-15 08:53] karindr opened #1533 ""Service.availableChannel.serviceUrl" written in Service Template"
In the template to enter services there is this kind of a name of the field instead of Website or URL. In the middle of the screenshot:
![image](https://user-images.githubusercontent.com/18674205/40046759-090f217e-582e-11e8-91eb-3a91446922eb.png)

[2018-05-15 09:11] dobladov commented on #1531
This is because the new plugin for markdown does not allow invalid markdown, in this case `##title` without a space between the hash and the title, the correct way should be `## title`.

In the old version this was valid, but I think the proper solution is to fix the markdown text manually to valid Markdown.

[2018-05-15 09:11] karindr commented on #1527
In this case the link to the badge comes without "name". So if you go to the award button in the filter section and open the list there there are some names shown but also some links.

[2018-05-15 09:42] literarymachine commented on #1531
I agree that we should fix this at the source.

[2018-05-15 09:47] literarymachine commented on #1527
I would argue OEC should keep the URLs stable.

Yes, but for now we still only have the badge represented by a `url` and associated with a `label`.

I am unsure what you mean. The links that are shown are from somebody who used the field wrong, see https://github.com/hbz/oerworldmap/issues/1347#issuecomment-355942909. By now, `award` can only be entered by admins. I think we should fix this in the

[2018-05-15 09:48] literarymachine commented on #1532
Is this something we can fix directly in mapbox studion? /cc @formimkontext

[2018-05-15 10:07] dobladov commented on #1532
Mabox Studio does not allow to modify titlesets, only replace replace the current one, But I prefer if we upload a new one and we just change the tileset in mapbox Studio, this way we can rollback in case something is missing.

[2018-05-15 10:14] karindr opened #1534 "Some changes in the new UI make it harder to enter subjects"
Der Kürze halber mal auf deutsch.

Unsere Liste an Fächern ist nicht einfach zu verstehen, da sie versucht, die Fächer länderübergreifend abzubilden, aber sie ist das Beste, was wir haben, also wollen wir an ihr festhalten. Um bestimmte Schulfächer einordnen zu können, ist es oft notwendig, die Liste rauf und runter scrollen zu können und die Hierarchie zu sehen.

Im neuen UI wird die Liste als Ga

[2018-05-15 10:24] karindr opened #1535 "Strange proposal list in template for entering open"
I was editing the entry for Open up resources as service and wanted to add the organisation Open up resources as provider. When I entered "open" Open up resources was not in the list but a lot of entries without "open" in the name like Jan Neumann. In the template searching for entries to link to I expect the name to be looked at (as first source or even as single source). When I add "up" the orga

[2018-05-15 10:25] literarymachine commented on #1534
Die Liste wird angezeigt, sobald man das entsprechende Feld ansteuert. Es ist kein manuelles Herunterklappen mehr nötig, und eigentlich auch kein Eintippen von einem Leerzeichen:

![image](https://user-images.githubusercontent.com/149825/40051133-f8b9329a-5839-11e8-8dd1-22cf8358b0b8.png)

Bei funktioniert das zuverlässig. Wie ich aber sehe verschwindet die Liste, wenn man einen Suchbegriff eingege

[2018-05-15 10:40] literarymachine commented on #1535
For reference, here is the query that is generated when looking up from the input template: https://oerworldmap.org/resource/?q=open*&filter.about.@type=Person&filter.about.@type=Organization

Making the name the single source would be quite easy; results would look like this: https://oerworldmap.org/resource/?q=about.name.@value:open*&filter.about.@type=Person&filter.about.@type=Organization

So

[2018-05-15 10:49] literarymachine commented on #1534
Ha! "Horticulture" ist auf deutsch "G**art**enbau".

[2018-05-15 10:50] literarymachine commented on #1532
We should also evaluate moving to [ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) instead of [HASC](https://en.wikipedia.org/wiki/Hierarchical_administrative_subdivision_codes). When we started, HASC was the only field that was (sort of) consistently used in our natural earth data. This would involve mapping and migrating from HASC to ISO 3166-2.

[2018-05-15 10:51] literarymachine commented on #1532
Could be useful: https://gist.github.com/migurski/4a5821699e1ed519a604

[2018-05-15 11:05] karindr commented on #1531
I will do. Are you aware of more things we have to look for?

[2018-05-15 11:11] literarymachine commented on #1532
The most recent version of http://www.naturalearthdata.com/downloads/10m-cultural-vectors/ seems to have much better regions codes (also as HASC, so we would not need migrate now). Codes for #1530 are also fixed there!

[2018-05-15 15:45] tamielbr opened #1536 "Systems send technical message when publishing comment is empty field"
When leaving a comment with an empty field the system returns a non-user friendly message.
![screen shot 2018-05-15 at 12 42 27](https://user-images.githubusercontent.com/3904166/40067938-c311579a-583d-11e8-8212-acf949537326.png)

[2018-05-16 06:28] karindr commented on #1534
Ja, die Einrückungen sind sehr wichtig um die Hierarchiestufe zu erkennen.

Ja, klar ;-). Aber im Ernst, kann man das Suchen hier auf die jeweils angezeigte Sprache beschränken?

Vielleicht war es das, aber ich hatte mehrfach den Fall, dass ich ein Leerzeichen eingeben musste, um die Liste wieder angezeigt zu bekommen. Wenn der o.g. Fall behoben ist, sehen wir ja, ob die Liste dann zuverlässig ers

[2018-05-16 06:38] karindr commented on #1535
As user I would expect to have to enter parts of the name, so I would prefer searching only for name and abbreviation. The abbreviation has to be included, because people often know only the abbreviation.

@trugwaldsaenger and @acka47 , what do you think?

[2018-05-16 07:08] #1465 closed

[2018-05-16 09:27] literarymachine opened #1537 "Restrict type ahead queries in drop down filters to current language"
Also, don't collapse concept filters when the search term is cleared.

[2018-05-16 09:31] literarymachine opened #1538 "Show all levels of indention in nested concept filters"
"Chemical engineering and processes" should be subordinate to "Engineering and engineering trades":

![image](https://user-images.githubusercontent.com/149825/40108915-87e8e2c2-58fc-11e8-99e8-a5226575696d.png)

[2018-05-16 09:33] literarymachine commented on #1534
@dobladov can you fix the levels of indention: #1538.

Kann und sollte man: #1537.

Mache ich auch in #1537.

[2018-05-16 10:33] trugwaldsaenger commented on #1527
Do I understand it correctly, that the label has to be added to the URL? In the comment I find following example:

 = "OERde 16 Award".

I tried following URL, but it is not working...

I get an error message "should match format "uri" "

[2018-05-16 10:44] trugwaldsaenger commented on #1526
Thanks for getting in touch @nichtich! I`m a Buckminster Fuller Fanboy, so I would go for the Dymaxion projection:

https://en.wikipedia.org/wiki/Dymaxion_map#/media/File:Dymaxion_2003_animation_small1.gif

Any more advice for us, which is easier to handle?

[2018-05-16 11:00] literarymachine commented on #1527
No. The process to add a new award is:

- [ ] Obtain image URL
- [ ] Add label to https://github.com/hbz/oerworldmap-ui/edit/master/docs/_data/locale/ui.json
- [ ] Assign award URLs to entries

I added the label in 9c9cb3f6590621579d6aa4ae0b06ccae4ae4b8b6, but I will have to deploy this and am currently travelling. Also, this will have to be translated via Crowdin for the other languages.

[2018-05-16 11:09] trugwaldsaenger commented on #1506
It seem to me as if the issue is connected to our usage of data-types as primary filters. If you start searching/filtering with them, everything works fine. But there are many other click-paths, which make sense as well, for example:

1. Starting by choosing a country, than narrow it down to projects
1. Starting by choosing an educational sector, than narrow it down to services

In these cases you

[2018-05-16 11:14] trugwaldsaenger commented on #1527
Many thanks for your quick reaction! No problem to deploy this later!

[2018-05-16 13:20] trugwaldsaenger opened #1539 "Implement likes and lighthouses as sorting-mechanisms"
# Problem desription
- result lists ordered by the number of likes or lighthouses can be shown by clicking on the orange buttons
- having clicked on "likes" I get a list, which is actually ordered according to the number of likes, but the our current version says, that it is ordered according to date
- currently it is not possible to sort a filtered list according to likes/lighthouses, neiter is i

[2018-05-16 13:42] trugwaldsaenger opened #1540 "Add display of similar entries"
@formimkontext refered to following profile draft, which shows a section for "similar entries". I think this would be very nice to have, really usefull and support browsing from one entry to another. So I would vote for including this soon.

One question is how similar entries are detected. I guess second level categories will be very helpfull here. For example if displaying a profile of a referat

[2018-05-16 15:08] literarymachine commented on #1539
You mean relevance? It is only available when you entered a search because it makes no sense for fixed-term filters. It is actually even the default sorting when you enter a search term:

![image](https://user-images.githubusercontent.com/149825/40125642-b22f1658-592b-11e8-83a5-611bf4fa34c9.png)

[2018-05-16 15:10] literarymachine commented on #1539
Yeah, we can do that. But what the orange button additionally does is limit the search result to only those that actually have a lighthouse / likes. When adding a sort option, also entries without likes / lighthouses would show up (after those that actually have lighthouses / likes).

[2018-05-17 06:17] trugwaldsaenger commented on #1540
+1

[2018-05-17 06:28] trugwaldsaenger commented on #1519
I guess we have to do this sometime (but not necessarily immediatly). I therefore set the prio to 1. @drrobertfarrow, @karindr: Any improvements concerning the text?

The text above is rather long, so we have to find a good place for this. On solution could be to display it directly over the map which appears after opening a new input template. @formimkontext: Any better ideas?

[2018-05-17 06:36] trugwaldsaenger commented on #1516
Looks rather like a prio 3 issue at the moment to me.

[2018-05-17 11:12] karindr commented on #1539
Why should it for example make no sense to sort a list of all german organisations by relevance? It makes sense.

In addition to this for the useres it is better if things are as simmilar as possible in differnt cases, so it is good if you always can sonrt by date, relevance and alphabeth.

[2018-05-17 11:29] literarymachine commented on #1539
So, what would be the "relevance" here? All of the entries have exactly one `DE` in `location.address.addressCountry`, so they all are equally relevant. This goes for all "fixed term" queries such as classifications. Believe me, there is no relevance to sort on without a search term. Feel free to specify expected behavior here and discuss with @philboeselager if you don't.

You can't sort by relev

[2018-05-17 11:36] literarymachine commented on #1539
Also see here the [Elasticsearch documentation](https://www.elastic.co/guide/en/elasticsearch/guide/current/_queries_and_filters.html):

So, our filters do not result in any scoring, only search terms do.

[2018-05-17 11:47] formimkontext commented on #1540
here are some drafts of fullscreen item view:

[20180216-single_resource fullscreen_view service_about copy](https://user-images.githubusercontent.com/15141949/36307423-65eff280-131c-11e8-9e3f-fc2344d9040e.png)
[20180216-single_resource fullscreen_view service_contact](https://user-images.githubusercontent.com/15141949/36307426-66444c04-131c-11e8-8d28-bf3357b2eaea.png)

[2018-05-17 13:26] #1474 closed

[2018-05-17 13:47] dobladov commented on #1112
When we have the default image from @formimkontext this case will be fixed for resources without images.

[2018-05-17 13:52] #1495 closed

[2018-05-17 13:52] #1515 closed

[2018-05-17 15:53] literarymachine commented on #1529
Fixed on production, removed the region and added the location via the lookup for https://oerworldmap.org/resource/urn:uuid:5b403cd0-e732-4ad7-acb2-30242c96742c

[2018-05-17 16:04] #1529 closed

[2018-05-17 16:05] literarymachine commented on #1534
Fixed in https://github.com/hbz/oerworldmap-ui/pull/306

[2018-05-17 16:05] #1534 closed

[2018-05-17 16:06] literarymachine commented on #1537
Fixed in https://github.com/hbz/oerworldmap-ui/pull/306

[2018-05-17 16:06] #1537 closed

[2018-05-18 06:05] trugwaldsaenger commented on #1385
I think we should reflect on this after implementing second level categories. If nobody provides a reasonable alternative, I propose to close the issue.

[2018-05-18 06:13] trugwaldsaenger opened #1541 "Provide SKOS representation for Persons, Services, Publications, Organizations & Projects"
green marked fields should be transferred to SKOS

https://docs.google.com/document/d/1vH4odAccnQhKdg-ra4_GHEt4hdBADLC7eZNTHpst92k/edit#

[2018-05-18 06:49] trugwaldsaenger opened #1542 "How should we handle ambigious subcategories for services?"
It is quite interesting to see, that -while subcategories for persons, organizations, projects & publications as described in #1541 are clear, the subcategories for services are ambigious:

- a wiki can be a repository, a content source, an authoring tool, as well as a community tool.
- I guess tutory could be categorized both as an authoring tool, but also as a repository
- serlo could be categor

[2018-05-18 07:03] trugwaldsaenger opened #1543 "Include second level categories in input template"
...so that we can start generating content.

[2018-05-18 07:11] trugwaldsaenger opened #1544 "Add second levels to existing entries"
As @literarymachine pointed out correctly it does not make sense to display the second level navigation, if there is no content available for them. This is a potentially huge editorial working package. For Germany we could include second levels for services automatically, since we have used tags here (e.g. servicetype:service), but we still have to discuss, if this makes sense. Also persons will h

[2018-05-18 07:12] trugwaldsaenger opened #1545 "Include second level navigation to platform"

[2018-05-22 08:44] literarymachine commented on #1190
Re-centering not necessary any longer due to new single item view. Closing.

[2018-05-22 08:44] #1190 closed

[2018-05-22 08:46] literarymachine commented on #412
@acka47 what is the status of this?

[2018-05-22 09:09] literarymachine commented on #1496
You only see this because you are an admin. Other people only see this:

![image](https://user-images.githubusercontent.com/149825/40352959-8c65c384-5db0-11e8-860f-08b1ce2d1ee0.png)

I don't think we need a different wording for every little detail and suggest to close this issue.

[2018-05-22 09:15] literarymachine commented on #1389
This is not an error, URLs strictly speaking need neither TLD nor sub domain. We are currently using the JSON schema `uri` format and I would like to keep it that way. As with email addresses, validation is simple at first glance, but then quickly gets more complicated (e.g. with character encodings).

[2018-05-22 09:16] literarymachine commented on #1419
Fixed on production:

![image](https://user-images.githubusercontent.com/149825/40353304-7f337f7a-5db1-11e8-92b9-7759214acb39.png)

Closing.

[2018-05-22 09:16] #1419 closed

[2018-05-22 09:16] #1354 closed

[2018-05-22 10:12] literarymachine commented on #1134
Deployed to production.

[2018-05-22 10:12] #1134 closed

[2018-05-22 15:27] formimkontext commented on #962
we decided to show those images for sharing on facebook and twitter:
![oerworldmap_opengraph_400x400](https://user-images.githubusercontent.com/15141949/40372648-6d9409e0-5de5-11e8-92e5-42d4fe8dbca1.png)
![oerworldmap_opengraph_1200x630](https://user-images.githubusercontent.com/15141949/40372649-6dcaf05e-5de5-11e8-8c82-a5f299826987.png)

[2018-05-23 09:54] literarymachine commented on #1543
This is done on the schema level, from which the templates are generated by the UI.

[2018-05-23 14:11] literarymachine commented on #1544
Here is a list of the service type keywords currently in use: https://oerworldmap.org/resource/?filter.about.%40type=Service&q=about.keywords:servicetype\:*

The tags used are:

[code]

Not all of them map to a second level classification in our current draft.

[2018-05-23 14:21] literarymachine commented on #1340
@acka47 I ported this so SKOS here: https://github.com/hbz/oerworldmap-ui/blob/1545-SecondLevelNavigation/src/json/services.json

[2018-05-23 14:22] literarymachine commented on #686
@acka47 SKOS version based on Google Doc here: https://github.com/hbz/oerworldmap-ui/blob/1545-SecondLevelNavigation/src/json/persons.json

[2018-05-23 14:23] literarymachine opened #1546 "Define Subcategories for Projects"
See https://github.com/hbz/oerworldmap-ui/blob/1545-SecondLevelNavigation/src/json/projects.json for the SKOS version based on https://docs.google.com/document/d/1vH4odAccnQhKdg-ra4_GHEt4hdBADLC7eZNTHpst92k/edit#heading=h.6pxuoxtdpjdj

[2018-05-23 14:24] literarymachine opened #1547 "Define Subcategories for Publications"
See https://github.com/hbz/oerworldmap-ui/blob/1545-SecondLevelNavigation/src/json/publications.json for the SKOS version based on https://docs.google.com/document/d/1vH4odAccnQhKdg-ra4_GHEt4hdBADLC7eZNTHpst92k/edit#heading=h.6pxuoxtdpjdj

[2018-05-23 14:26] literarymachine opened #1548 "Define Subcategories for Organizations"
See https://github.com/hbz/oerworldmap-ui/blob/1545-SecondLevelNavigation/src/json/organizations.json for the SKOS version based on https://docs.google.com/document/d/1vH4odAccnQhKdg-ra4_GHEt4hdBADLC7eZNTHpst92k/edit#heading=h.6pxuoxtdpjdj

[2018-05-23 14:27] literarymachine commented on #1546
See https://github.com/hbz/oerworldmap/issues/1541, closing.

[2018-05-23 14:27] #1546 closed

[2018-05-23 14:28] literarymachine commented on #1548
See https://github.com/hbz/oerworldmap/issues/1541, closing.

[2018-05-23 14:28] #1548 closed

[2018-05-23 14:28] literarymachine commented on #1547
See https://github.com/hbz/oerworldmap/issues/1541, closing.

[2018-05-23 14:28] #1547 closed

[2018-05-23 14:30] literarymachine commented on #1541
@acka47 see https://github.com/hbz/oerworldmap-ui/blob/1545-SecondLevelNavigation/src/json/ for the SKOS versions.

[2018-05-23 15:27] literarymachine commented on #1543
On beta, see (and edit) e.g. these [examples](https://beta.oerworldmap.org/resource/?q=_exists_:about.additionalType.@id). Currently, the second level categories are displayed below the mini map. @formimkontext is that where they belong?

[2018-05-23 16:29] #1530 closed

[2018-05-24 08:13] acka47 commented on #1543
+1

[2018-05-24 08:13] acka47 commented on #1541
+1

[2018-05-24 08:16] acka47 commented on #1340
I am not so happy with the organization subtyping. I guess it would make sense to remove some types and instead add another dimension in the description (at least the private/public distinction).

[2018-05-24 08:28] literarymachine commented on #1340
Again, maybe we should look at what others have done instead of reinventing the wheel. See e.g. the "EUN Organisation Type Values" in the [Vocabulary Bank for Education](http://europeanschoolnet-vbe.lexaurus.net/vbe/browse).

[2018-05-24 08:55] literarymachine commented on #1532
Fixed on production, see https://oerworldmap.org/country/de:

![image](https://user-images.githubusercontent.com/149825/40475115-03b0e9d2-5f41-11e8-824e-c0b3dd4e0713.png)

[2018-05-24 08:55] #1532 closed

[2018-05-24 13:39] formimkontext commented on #1543
One idea was, to replace the main type by the sub level category in the description aove the mini map in the header. The icon would still show the belonging to the main type.

[2018-05-24 14:06] formimkontext commented on #1540
When @j0hj0h an i were thinking about the fullscreen item view, we discussed other additions / adjustments like sub-sites for contact, comments, etc. within the item view. See those drafts:

[service about](https://user-images.githubusercontent.com/15141949/36307423-65eff280-131c-11e8-9e3f-fc2344d9040e.png) | [service lighthouse comments](https://user-images.githubusercontent.com/15141949/36307424

[2018-05-24 16:55] #1541 closed

[2018-05-25 14:17] #1513 closed

[2018-05-25 15:54] literarymachine commented on #549
Outdated, closing.

[2018-05-25 15:54] #549 closed

[2018-05-28 09:34] karindr commented on #1496
Since this is only the administrators view it doesn't have to be changed.

[2018-05-28 09:34] #1496 closed

[2018-05-28 09:56] karindr opened #1550 "Licensing for stories has been changed, parts are missing now"
Before the relaunch the fields and text for the licensing of stories were different. I think the missing parts/text should be added again because it was easier to understand before. See this old screenshot:
![image](https://user-images.githubusercontent.com/18674205/40609098-e6fab5fe-626d-11e8-974a-988645af87f6.png)

[2018-05-28 09:58] #1416 closed

[2018-05-28 09:58] karindr commented on #1509
In all templates where a date has to be entered there is YYYY-MM-DD. It would be better if we could translate these letters.

[2018-05-28 10:03] karindr commented on #1509
There is much more text in the german version below the minimap, see:
![image](https://user-images.githubusercontent.com/18674205/40609473-fd41b9b0-626e-11e8-9a35-e50711f0b231.png)
![image](https://user-images.githubusercontent.com/18674205/40609515-216cceb0-626f-11e8-8357-d6ebc8a97008.png)

[2018-05-28 11:41] acka47 opened #1551 "For German, labels are the same as descriptions"
See e.g. https://oerworldmap.org/resource/urn%3Auuid%3Ae08975fe-acc0-4733-8496-2cfc034a120a

See also the labels file that does not has labels in it but descriptions: https://github.com/hbz/oerworldmap-ui/blob/master/docs/_data/locale/labels_de.json

What happened?

[2018-05-28 12:02] acka47 commented on #1551
Something when re-setting up CrowdIn. This is the commit from 20 days ago (!) that messed it up https://github.com/hbz/oerworldmap-ui/commit/11e10671dc08c5ec31f2eac038942bb4de5c3efe#diff-18b0fa8bb7816dc63c44899012134d3c

I fixed the labels in #317. As @literarymachine is on holidays (and I think @philboeselager as well), is there anybody else who can deploy this?

[2018-05-28 13:36] trugwaldsaenger commented on #1543
The field is there - but there are no auto-suggestions. Also it seemingly does not accept my free-text input, so I faild to put in any second level categories. @literarymachine is it a bug or am I doing something wrong?

[2018-05-28 13:48] trugwaldsaenger commented on #1540
I like the idea. If I understand it right, this will help to keep the layout as clean as possible. I do not think that the priority is so high that it has to be done directly, but we should make a ticket for this....

[2018-05-28 13:49] trugwaldsaenger opened #1552 "Subsides within item view"
When @j0hj0h an i were thinking about the fullscreen item view, we discussed other additions / adjustments like sub-sites for contact, comments, etc. within the item view. See those drafts:

service about | service lighthouse comments | service comments | service contact

event about | event presenter

[2018-05-28 14:15] acka47 commented on #1543
It works for me. Clicking into the field, the list of concepts to choose from shows up. By typing I can filter the list. Which resource do you have problems with?

[2018-05-28 15:30] trugwaldsaenger commented on #1477
Still open on production. Probably not much work - I guess we should solve this in the near future.

[2018-05-28 15:51] trugwaldsaenger commented on #1503
@acka47 Could you check the stats concerning the IE-usage numbers? Since I guess we have to include the hint ("Please notice that Internet Explorer is currently not supportet by the OER World Map.") anyway, I gave the issue high priority.

[2018-05-28 16:54] trugwaldsaenger commented on #1491
@formimkontext: I just had a look at the navigation, which is currently on beta. There I noticed, that the search field, which is included in the screenshot above, is not included yet. Do you know if this will come later, or did you change the design?

[2018-05-29 07:19] karindr commented on #1543
Works for me too like Adrian said.

[2018-05-29 09:07] karindr commented on #1097
To be able to link to sections of the static pages would be very helpful for better explaining to the users, for example from definitions of the entry types to sections on the contribute page.

[2018-05-29 09:41] karindr commented on #1519
Here is a slightly shorter and straighter version (links have to be includes like above):
"The OER World Map collects data related to Open Educational Resources (OER) and Open Education as described in the Cape Town Declaration and the 2012 OER Paris Declaration. Please ad only related data. If not obvious, please outline the reference to OER in the description field."
A good place would be above

[2018-05-29 10:05] karindr commented on #1543
The problem was using firefox, it works for @trugwaldsaenger on chrome too.

[2018-05-29 10:08] karindr commented on #1543
It would be better to show more of the levels to choose from especially for organisations. Please make the window for the list longer.

[2018-05-29 10:15] karindr opened #1553 "Make description fields larger in input templates"
No description fits in the new tiny field. (Yes I know that I can enlarge it manually, but it is to small for 90 % of all descriptions entered, so please enlage it by default.)

[2018-05-29 12:29] literarymachine commented on #1097
You can do that, e.g. https://oerworldmap.org/imprint#privacy

Or am I missing something?

[2018-05-29 13:55] trugwaldsaenger opened #1554 "How could we collect data from conferences and other regular events automatically?"
# Background
The idea behind this question is, that especially conferences, but also other regular events like Open Education Week carry a high potential for supporting data collection with the OER World Map. They can be seen as control points which have to be passed by most major activities going on. We have tried twice to collect the data from Open Education Week, but failed, the first time, bec

[2018-05-29 14:01] trugwaldsaenger opened #1555 "Some UK Counties (=subnational entities) remain white despite included Pins"
![grafik](https://user-images.githubusercontent.com/6639965/40663679-8053e428-6359-11e8-95d1-41f30c5baa3d.png)

I would expect, that every county, which carries a pin should be at least slightly green...

[2018-05-29 18:27] literarymachine commented on #1555
Duplicate of #1484. For pins, coordinates are needed. For the coloring, the region has to be specified (so that nobody is forced to give an exact location to be counted in the choropleth map). For the UK, a lot of entries [are missing the region but have a pin](https://oerworldmap.org/country/gb?q=_exists_:about.location.geo%20AND%20_missing_:about.location.address.addressRegion). This has to be f

[2018-05-30 07:47] karindr commented on #1097
Interesting. The structure of the imprint page was something I wanted to have for the FAQ page. I think I was told that we can't add such links and anchors because of some problems in our workflow (see above). If we can do this now it is great. How can I add it to the static pages and where have they gone? (I can start doing this not before next week, so no hurry!).

[2018-05-30 09:48] karindr opened #1556 "It should be "Logo" instead of "Image" in the tools template"

[2018-05-30 09:57] acka47 commented on #1556
This has to be adjusted in the labels.json file in the oerworldmap-ui repo, see https://github.com/hbz/oerworldmap-ui/blob/master/docs/_data/locale/labels.json#L172 Do you want to do this?

[2018-06-04 06:51] trugwaldsaenger opened #1557 "How could we implement gapminder?"
We discussed using gapminder at the very beginning of the project. At that time, we did not see a chance to implement the tool, since we did not have adequate data. At OE Global in Delft we met Ebba Ossiannilsson, who is in contact with gapminder and we agreed that vizualizing the OER World Map data with gapminder would be great:

https://www.gapminder.org/
https://www.gapminder.org/tools/#_data_/

[2018-06-04 07:03] trugwaldsaenger commented on #1557
General consideration: The example gapminder vizualisation given above:
https://www.gapminder.org/tools/#_data_/_lastModified:1526915649214&lastModified:1526915649214;&chart-type=bubbles aggregates at least four categories of information:

1. A bubble is a country. The size of the bubble shows its number of inhabitants.
1. On the x-axis the income is shown (GDP per person)
1. On the y-axis the lif

[2018-06-04 07:10] trugwaldsaenger commented on #1557
Can we think of a similar example for the World Map?

[2018-06-04 08:46] formimkontext commented on #1491
We will implement the search field later.

[2018-06-04 09:08] karindr commented on #744
It is possible now so I close this issue.

[2018-06-04 09:08] #744 closed

[2018-06-04 09:13] karindr opened #1558 "Adding subjects from the third and forth level is not possible ..."
... because they are not shown in the list to choose from and can#T be accesed by entering the first characters. Try "chemistry".

[2018-06-04 09:15] literarymachine commented on #1097
I think that was never the case for the static pages but only for sections in entries such as stories.

Take a look at https://github.com/hbz/oerworldmap-ui/edit/master/docs/imprint.md.

[2018-06-04 09:17] literarymachine commented on #1558
![image](https://user-images.githubusercontent.com/149825/40909035-d407245c-67e8-11e8-8706-854cb8a7a711.png)

[2018-06-04 09:18] literarymachine commented on #1558
Works for me, both in German and English:

![image](https://user-images.githubusercontent.com/149825/40909084-ff9118b2-67e8-11e8-87d2-9a2e1c7c6f78.png)

[2018-06-04 09:26] philboeselager commented on #1535
Limiting search results to contents of fields "name" and "abbreviation" would mean that you can never find anything that's comprised for example in the "description" field, right? Just keep this in mind, when you're discussing, @karindr , @acka47  and @trugwaldsaenger .

My feeling is that you have to accept not getting proper results for "open" in an open network, like you won't find your desired

[2018-06-04 09:38] karindr commented on #1558
![image](https://user-images.githubusercontent.com/18674205/40910198-ce1a78f2-67eb-11e8-9875-2945335f6b74.png)

[2018-06-04 09:42] literarymachine commented on #1543
@dobladov can you take a look?

[2018-06-04 09:51] literarymachine commented on #1558
Still not working e.g. here: https://oerworldmap.org/resource/urn:uuid:b1158d65-4392-4bc3-8448-6a27b2416755#edit

![image](https://user-images.githubusercontent.com/149825/40910856-861b5b1e-67ed-11e8-8ab0-805fb813daec.png)

[2018-06-04 10:00] trugwaldsaenger commented on #1543
@literarymachine @dobladov: I still have problems with this. Today it is neither working with Chrome nor with Firefox for me... I`m reopening the issue.

[2018-06-04 10:05] literarymachine commented on #1543
Can you post a screenshot? Because it is working fine here:

![image](https://user-images.githubusercontent.com/149825/40911594-82737044-67ef-11e8-9e28-cd747e7e270b.png)

[2018-06-04 10:06] literarymachine commented on #1543
Fine in Firefox, too:

![image](https://user-images.githubusercontent.com/149825/40911676-bf6447ee-67ef-11e8-8a0f-439495c6ea3f.png)

[2018-06-04 10:17] trugwaldsaenger commented on #1543
When clicking into the field, the field gets grey and a thick line appears under the field:

![grafik](https://user-images.githubusercontent.com/6639965/40911992-9e11a1e4-67f0-11e8-8a5d-aa118c618983.png)

When typing in a letter, no scrolldown menue appears.

[2018-06-04 10:27] trugwaldsaenger commented on #1543
I just checked this on my other laptop as well. The issue appears on both laptops when using Chrome as well as Firefox (60.0.1). Interesting, that it seems to appear with me only...

[2018-06-04 10:28] trugwaldsaenger commented on #1543
When editing!

[2018-06-04 10:33] trugwaldsaenger commented on #1543
It`s also happening when adding a new ressource...

[2018-06-04 10:40] trugwaldsaenger commented on #1543
Just created a new test-user, issue appears as well...

[2018-06-04 10:44] literarymachine commented on #1543
I just realized that you are using the German version, and I can recreate it when I switch to German, too:

![image](https://user-images.githubusercontent.com/149825/40913487-04b6c416-67f5-11e8-98aa-a620254a2814.png)

Can you switch to the English UI for now?

[2018-06-04 11:58] literarymachine commented on #1543
This was broken by a fix for what @karindr reported in https://github.com/hbz/oerworldmap/issues/1534#issue-323153233:

"Horticulture" is "G**art**enbau" in German. The fix was to restrict the type ahead to filter only in the current language. Our new second level categories are not localized to German, though. So when your UI is set to German, no hits are ever found. I would argue that if we say

[2018-06-04 12:30] acka47 commented on #1543
+1

[2018-06-04 15:51] trugwaldsaenger commented on #1543
sounds reasonable to me - and should not be too much work... (I hope).

[2018-06-04 16:18] trugwaldsaenger opened #1559 "Impossible to add educational sector to h5p tool"
Just tried to add an educational sector ("cross-sector") to H5P:

https://oerworldmap.org/resource/urn:uuid:7a4886c1-b219-4b8d-a242-b869dcbcb7e5?

It did not work and I received the error message "should NOT have additional properties"

[2018-06-04 22:16] #1559 closed

[2018-06-04 22:16] literarymachine commented on #1559
Fixed and deployed to production, see https://oerworldmap.org/resource/urn:uuid:7a4886c1-b219-4b8d-a242-b869dcbcb7e5

[2018-06-05 07:48] karindr commented on #1543
I translated what was new in Crowdin (for example "Service type"), but the terms für the categories itself (like "Repository". "Referatory") are not yet listed in Crowdin so I can't translate them.

@acka47 can you deploy the translations, please?

[2018-06-05 08:41] trugwaldsaenger opened #1560 "Second Level Categories: Subtype "other" is missing"
Within the current second level categories the subtype "other" is missing.

I assume that there is an underlying missunderstanding. The specification includes both "other content sources" and "other". "Other Content Sources" are websites, which include some OER, but cannot be characterized as repositories. "Other" could be anything, wich is not covered by the named categories.

I agree that the wo

[2018-06-05 08:48] karindr commented on #1560
I would prefer "content source".

[2018-06-05 08:52] trugwaldsaenger commented on #1340
I generally agree, @literarymachine. Nevertheless in this special case I do not see, that we can use the EUN Organisatioin Type Values. From my perspective it appears to be
a) too much centered in the school sector
b) in some cases too unprecise (e.g. "industry", "vendor", "youth organisation")

@acka47: Do you see need to do some deeper analysis on this question?

[2018-06-05 08:54] trugwaldsaenger commented on #1340
@acka47: Do we need to discuss this issue?

[2018-06-05 08:58] karindr opened #1561 "Establish possibility to delete all entries of a list of entries in one sweep"
As we see, sometimes people enter a couple of entries which do not belong on the OER World Map. It would be useful as administrator to delete all these entries in one sweep.

[2018-06-05 09:04] trugwaldsaenger opened #1562 "Define Subtypes for tools, stories and events"
...which are currently still missing.

[2018-06-05 09:30] acka47 commented on #1560
Do I get it correctly that you understand "content source" as "A source providing content for learning/teaching purposes"? Then this might make sense but I doubt that people will get it.

You could also understand it like this: All of those are publications, i.e. "content sources" so "other publications" equal "other content source"...

[2018-06-05 09:36] trugwaldsaenger opened #1563 "Irritating Template Layout"
https://oerworldmap.org/resource/urn:uuid:3f11cdbd-a74a-4aa4-83b3-b4148bfdbe82

![grafik](https://user-images.githubusercontent.com/6639965/40967769-3a614d38-68b4-11e8-9bb6-86d5b7987756.png)

- Input fields seem to be missing for "grant"
- "funded by" appears twice, once with input field, once without
- "add funded by" appears twice

[2018-06-05 09:44] trugwaldsaenger commented on #1544
@acka47 was so kind to define a search filter for all entries, which do not have a subtype yet:

https://oerworldmap.org/resource/?q=NOT%20_exists_%3Aabout.additionalType&features=true&map=60.10915%2C73.21743%2C5

It`s very easy to work with this. Simple activate and than go through the list one by one...

[2018-06-05 10:11] literarymachine commented on #1544
Given that `2779` of `2837` entries don't have an `additionalType`, this is of limited use I would argue. I still think we should first try to migrate those cases where certain tags can be mapped to our categories, e.g. [`servicetype:*`](https://oerworldmap.org/resource/?filter.about.@type=Service&q=about.keywords:servicetype\\:*). Are there others? What do we do with those that don't map, see htt

[2018-06-05 10:12] karindr commented on #1551
@literarymachine can you deploy this please?

[2018-06-05 10:16] literarymachine commented on #1544
To answer my own question, it does not seem so: https://oerworldmap.org/sparql/query?q=SELECT+DISTINCT+%3Fkeyword+WHERE+%7B%0D%0A++%3Fs+%3Chttp%3A%2F%2Fschema.org%2Fkeywords%3E+%3Fkeyword+.%0D%0A++FILTER+regex%28%3Fkeyword%2C+%22.*type.*%22%2C+%22i%22%29%0D%0A%7D

[2018-06-05 10:23] trugwaldsaenger opened #1564 "Collect Examples of mismatch and refine categories"
While adding subtypes we can identify examples, which do not fit well into our second category scheme. These examples can be used to refine the scheme. Please add examples by commenting on this issue.

[2018-06-05 10:28] #1558 closed

[2018-06-05 10:32] trugwaldsaenger commented on #1564
(Creative Commons)[https://oerworldmap.org/resource/urn:uuid:0a7536ac-3b85-11e5-be26-54ee7558c81f]

I guess one could say that CC is a provider of legal infrastructure, but I´m not sure everyone will understand this.

[2018-06-05 10:34] literarymachine commented on #1558
Deployed to production:
![image](https://user-images.githubusercontent.com/149825/40971092-c943f23c-68bc-11e8-8f95-52960894ad40.png)

[2018-06-05 10:37] trugwaldsaenger commented on #1564
[Europeana](https://oerworldmap.org/resource/urn:uuid:2eedf9a0-0f60-4c5a-8a8b-a05af1275761)

We could include something like "library" or "cultural heritage organisation" for this.

[2018-06-05 10:41] literarymachine commented on #1551
I merged and deployed https://github.com/hbz/oerworldmap-ui/pull/317 but to me it seems that the issue persist. @acka47 can you take a look. I am out of office this week for a conference and will postpone any further deployments until next week.

[2018-06-05 10:42] trugwaldsaenger commented on #1564
[BMBF](https://oerworldmap.org/resource/urn%3Auuid%3Ae495cc00-9377-48b6-8c9a-ba5ced16f8ba?)

This is an example of an organisation, which fits into several sub-types. While it is clearly a "government agency" it is also an "OER funder". This important function is lost at the moment.

[2018-06-05 10:43] literarymachine commented on #1551
It looks to me like not all labels have been fixed, e.g.

https://github.com/hbz/oerworldmap-ui/pull/317/files#diff-18b0fa8bb7816dc63c44899012134d3cL39

Or is it correct like this, @acka47?

[2018-06-05 10:46] trugwaldsaenger opened #1565 "Link to markdown-syntax is missing in description and comment fields"
It seems as if this helpful link was lost during refactoring. I would strongly argue to include it again.

[2018-06-05 11:08] karindr opened #1566 "Add award field to personal profile"
At the moment we can't give awards to people because there is no field for it.

Do we as administrators want to change the personal profiles of award winners and add the bade there?

[2018-06-05 11:19] acka47 commented on #1551
This whole CrowdIn migration to another repo sucked (not least because of I made several msitakes during the migration). Opened another PR at https://github.com/hbz/oerworldmap-ui/pull/323. It should be good after merging that one.

[2018-06-05 11:32] trugwaldsaenger commented on #1561
+1

[2018-06-05 11:52] trugwaldsaenger commented on #1544
servicetype:mooc platform = "content source"
servicetype:other = "other"
servicetype:tutorial&courses = "information, reflection & tutorials"
servicetype:repository = "repository"
servicetype:referatory = "referatory"
servicetype:information&reflection = "information, reflection & tutorials"
servicetype:textbook = "content source"
servicetype:encyclopedia = "content source"
servicetype:youtubechan

[2018-06-05 11:59] trugwaldsaenger commented on #1544
In order to keep the list short I did not take

- mooc platform (better: provider)
- textbook (better: textbook collection)
- youtube channel (better: video channel)
- encyclopedia

Into the list. Nevertheless I think these are rather clear categories and the total number still will be smaller than the subcategories of the organizations. I therefore would argue to include. @acka47: Any concerns ab

[2018-06-05 12:22] trugwaldsaenger commented on #1544
I´m happy if you can do the migration automatically. I think last time we spoke about this, you were not sure how big the effort was. Nevertheless, this will not solve our problems entirely. After the migration approximatly 2650 entries will remain without subcategory. But I don`t think it`s that bad for several reasons:

- 460 are persons, so we cannot do it ourselves anyway
- we could consider g

[2018-06-05 12:27] literarymachine commented on #1565
You are right, we missed to port this to the new UI. The image is available here: https://github.com/dcurtis/markdown-mark

[2018-06-05 12:36] literarymachine commented on #1544
I was referring to finding and documenting the mapping of keywords to categories. If a list like the one you created exists, migration is not a big issue!

This would solve the issue for [400 Organizations](https://oerworldmap.org/resource/?q=university&filter.about.%40type=Organization), great!

I agree, we should only make sure that not too many links to sub categories in the new header lead to

[2018-06-05 12:41] trugwaldsaenger commented on #1566
Good you mention this - I was not aware of it! @literarymachine, could you add the field for persons as well?

I see two groups: persons which are already on the map and those who don`t. The first group we can tell them that we plan to add the badge, when we ask them to register. For the second group we can add the badge and tell them that we did so by mail - I guess nobody will complain.

[2018-06-05 13:46] #1543 closed

[2018-06-05 13:48] literarymachine commented on #1551
Fixed in hbz/oerworldmap-ui#323

[2018-06-05 13:48] #1551 closed

[2018-06-05 13:53] literarymachine commented on #1563
I agree this is irritating. Will fix this, but just FYI that this is correctly following our data model but not very clear in the UI:

No, `Grant` is a complex field, it includes the `Budget` and `Funded by`.

Yes, a `Project` is `funded by` a `Grant` which is `funded by` some `Organization`.

See above, you can theoretically add a second `Grant`, and a `Grant` can currently be funded by multiple

[2018-06-06 06:26] karindr commented on #1563
It would help to make "grant" a heading1 and "budget" and "funded by" a heading2.

[2018-06-06 07:21] karindr opened #1567 "Enhance preview in twitter"
I tweet an event overview every month, now it looks like below, the link to the view is below too. Why is the map in the picture empty? Is it possible to get rid of the words and numbers before entries?
https://oerworldmap.org/resource/?q=about.startDate%3A%5B2018-06-02%20TO%202018-06-30%5D&filter.about.%40type=Event
![image](https://user-images.githubusercontent.com/18674205/41022422-d13dd586-696

[2018-06-06 07:29] karindr commented on #1178
And the dates in the months should start with the first of the month not with the last date!

[2018-06-06 07:43] literarymachine commented on #1567
Could you let us know what exactly was much better?

[2018-06-06 07:44] literarymachine commented on #1178
@dobladov and @formimkontext told you so ;)

[2018-06-06 07:58] karindr commented on #848
This time we had 3 times OERcamp 18 Nord and 2 times OERcamp 18 West

[2018-06-06 08:51] karindr commented on #1156
Done with the new UI

[2018-06-06 08:51] #1156 closed

[2018-06-06 08:54] formimkontext commented on #1178
i think the most logical order of dates in a list is the following:

upcoming (from now to future (days, months and years))

today

june 6.
june 7.
june 8.
…

july 1.
july 2.
july 3.
july 4.
…

past (from now to the furthest behind (days, months and years))

today

june 5.
june 4.
june 3.
june 2.
june 1.

may 31.
may 30.
may 29.
…

[2018-06-06 09:23] karindr commented on #1560
"other" is there now but "content source" is gone. That is not like it should be.

[2018-06-06 09:39] literarymachine commented on #1560
@acka47 told you so ;)

[2018-06-06 09:43] karindr opened #1568 "Country view is felt when cklicking on "->" below list of entries"
For example Belgium with 26 entries, 20 are shown. When I click on the arrow below the list changes to the entries of the whole world.

[2018-06-06 09:48] #1531 closed

[2018-06-06 09:55] literarymachine commented on #1544
@acka47  this should be the migration for [Organizations that have `university` in their name and have no `additionalType` assigned yet](https://oerworldmap.org/sparql/update?delete=&insert=%3Fs+%3Chttp%3A%2F%2Fschema.org%2FadditionalType%3E+%3Chttps%3A%2F%2Foerworldmap.org%2Fassets%2Fjson%2Forganizations.json%23higherEducationInstitution%3E&where=%3Fs+a+%3Chttp%3A%2F%2Fschema.org%2FOrganization%3

[2018-06-06 10:04] karindr opened #1569 "Establish easy way to change type of entry"
Since we want to have a look at a lot of entries for adding the second level types we will encounter lost of wrongly labeled entries (organisation istead of project, project instead of event and so on). It would be very helpful to be able to change the type of the entry in an easy way. It would be helpful to get at least the main field copied to the new type like name, description, url, tags, sect

[2018-06-06 10:07] literarymachine commented on #1569
Duplicate of #611.

[2018-06-06 10:14] literarymachine commented on #611
Looks like the JSON schema validator we are using in the new UI actually has this built in: https://github.com/epoberezkin/ajv#filtering-data

[2018-06-06 10:30] karindr commented on #1567
The map was not empty! The differnent greens of the countries were visible, there also have been dots on the map.

[2018-06-06 10:33] karindr commented on #1178
If i can change between past and upcoming I like @formimkontext orders very much. If we have to choose one I would prefer the first.

[2018-06-06 10:51] karindr commented on #1261
It would be very helpful to have a desicion on this.

[2018-06-06 11:17] acka47 commented on #1544
It should read `FILTER NOT EXISTS { ?s <http://schema.org/additionalType> ?o }` instead of `FILTER NOT EXISTS { ?s <http://schema.org/additionalType> <https://oerworldmap.org/assets/json/organizations.json#higherEducationInstitution> }`

[2018-06-06 11:22] literarymachine commented on #1544
Ok, do you want to carry out the [updated migration](https://oerworldmap.org/sparql/update?delete=&insert=%3Fs+%3Chttp%3A%2F%2Fschema.org%2FadditionalType%3E+%3Chttps%3A%2F%2Foerworldmap.org%2Fassets%2Fjson%2Forganizations.json%23higherEducationInstitution%3E&where=%3Fs+a+%3Chttp%3A%2F%2Fschema.org%2FOrganization%3E+.+++%3Fs+%3Chttp%3A%2F%2Fschema.org%2Fname%3E+%3Fname+.+++FILTER+NOT+EXISTS+%7B+%3

[2018-06-06 11:23] acka47 commented on #1544
Will do

[2018-06-06 11:28] literarymachine commented on #1567
Ok. @j0hj0h can you recall how this worked? As far as I remember, we didn't add any preview images explicitly. Did this just work with Openlayers maps?

[2018-06-06 11:37] acka47 commented on #1564
I added the 2n level type "Funding body", see https://oerworldmap.org/resource/urn%3Auuid%3Ae495cc00-9377-48b6-8c9a-ba5ced16f8ba?

[2018-06-06 12:57] acka47 commented on #1544
Done. It is not yet reflected in the search results, though, see https://oerworldmap.org/resource/?filter.about.additionalType.@id=https%3A%2F%2Foerworldmap.org%2Fassets%2Fjson%2Forganizations.json%23higherEducationInstitution. But individual entries have changed, see e.g. https://oerworldmap.org/resource/urn%3Auuid%3A879fd170-e372-4dea-a873-9775d7f9e8bf

I applied the patch >1h ago so this is def

[2018-06-06 13:23] j0hj0h commented on #1567
No idea how this worked. @karindr can you recall when it stopped working? And maybe when it started to work?

[2018-06-06 13:52] literarymachine opened #1570 "Trigger indexing after data migration"
See https://github.com/hbz/oerworldmap/issues/1544#issuecomment-395058713.

[2018-06-06 14:09] literarymachine commented on #1544
I just realized that migrations using SPARQL don't trigger the indexing mechanism. So the good new is that this is currently expected behavior. Triggered it manually now:

https://oerworldmap.org/resource/?filter.about.additionalType.@id=https%3A%2F%2Foerworldmap.org%2Fassets%2Fjson%2Forganizations.json%23higherEducationInstitution

and created #1570 to automate this.

The result is only 256 inste

[2018-06-06 14:20] j0hj0h commented on #1567
@karindr do you remember if it was showing the UI components (e.g. header, filter section) as well? Maybe Twitter showed a screenshot generated on their server until we told them to to something else with the new meta data in the header ...

[2018-06-07 07:21] karindr commented on #1544
@trugwaldsaenger and I agreed that it would be great to have a simmilar automatic input for the "Primary educational sector" field for these entries. It should be "Higher Education" for all these universities.

[2018-06-07 07:29] karindr commented on #1544
Finished Luxemburg (also regions and sectors). ;-)

[2018-06-07 07:36] acka47 commented on #1544
[This](https://oerworldmap.org/sparql/update?delete=&insert=%3Fs+%3Chttp%3A%2F%2Fschema.org%2FprimarySector%3E+%3Chttps%3A%2F%2Foerworldmap.org%2Fassets%2Fjson%2Fsectors.json%23higherEd%3E&where=%3Fs+a+%3Chttp%3A%2F%2Fschema.org%2FOrganization%3E+.+++%3Fs+%3Chttp%3A%2F%2Fschema.org%2Fname%3E+%3Fname+.+++FILTER+NOT+EXISTS+%7B+%3Fs+%3Chttp%3A%2F%2Fschema.org%2FprimarySector%3E+%3Fcat+%7D+.+FILTER+re

[2018-06-07 07:44] literarymachine commented on #1544
Looks good to me.

[2018-06-07 08:17] acka47 commented on #1544
Done, you probable have to manually trigger the index update again, @literarymachine.

[2018-06-07 08:22] karindr opened #1571 "Add little dots for the location of cities"
In a certain zoom level the names of big cities are shown but there are no dots for the location of the cities. In countries you don't know so well this is irritating because the names could also belong to the regions. When showing dots for the cities it is important to make them small enough not to be mixed up with the other dots.

It would be nice to have the names of the regions displayed as we

[2018-06-07 08:50] karindr commented on #1567
Hard to tell when something changed, because if it works like expected you don't pay attention. It worked with the old UI that is for sure. But I think it changed later than the official relaunch of the UI because I am pretty shure that I would have deleted this tweet, because the map is empty:
https://twitter.com/oerworldmap_de/status/986874254527475712
![image](https://user-images.githubusercont

[2018-06-07 09:43] literarymachine commented on #1567
I'll try to reconstruct the old twitter preview by running the old version of the map locally.

[2018-06-07 10:08] trugwaldsaenger commented on #1571
Agreed that this would be helpfull and that it is not super important. I guess we can keep it with P3. Eventually @formimkontext and @j0hj0h can keep this in the back of the head, when looking at map-libraries the next time...

[2018-06-07 10:16] literarymachine commented on #1567
Ok, we rolled out the old UI to http://oerworldmap.graphthinking.com/resource/

Anything we tweet from there has no proper preview at all, e.g.

https://twitter.com/graphthinking/status/1004667563631104001
https://twitter.com/graphthinking/status/1004667179353165824

@karindr are you absolutely sure that the tweets you mention above actually included a preview back then? Or maybe just a URL? Becau

[2018-06-07 10:36] literarymachine commented on #1567
There cannot have been a preview with pins and colors and all of that at that point then!

Ok. We are actually by now very sure that such previews with the colors and points have not existed, neither in the old nor the new UI. We can roll back the empty map images and keep discussing what @j0hj0h summarized in https://github.com/hbz/oerworldmap/issues/962#issuecomment-387408067.

[2018-06-07 10:36] dobladov commented on #1567
In the case of the one showing "about.startDate:[2018-05-02 TO 2018-05-31]", It's because in case of having a search we show the searched term on the title, I agree that we need to filter or not show this cases or return only the number of results found.

[2018-06-07 10:44] karindr commented on #1567
I am not sure with the dots but no green countries, really? But anyway better no peview than empty maps, I can live with this on twitter. As you said facebook reacts different.

[2018-06-07 11:46] literarymachine commented on #1567
There cannot have been map previews with real data (dots and colors) in the old and in the new version. We simply do not expose the map in a format that makes this possible. We now link to an image in the mapbox static API, but it is not possible to easily put our data in there.

Where have I said that?

[2018-06-07 11:50] literarymachine commented on #1567
I think you are confusing this with screenshots you made and attached yourself. See e.g.

https://twitter.com/oerworldmap/status/989085791606525954

[2018-06-07 12:01] literarymachine commented on #1567
Also compare

https://twitter.com/oerworldmap/status/989085791606525954
https://twitter.com/oerworldmap/status/986881379442085888
https://twitter.com/oerworldmap/status/971684974670876672

for this. There are probably more. If the list is shown or not depends on your view when you make a screenshot. Also, you can actually overwrite the default preview image by uploading a custom image. See e.g. ht

[2018-06-11 07:08] #1567 closed

[2018-06-11 07:58] karindr commented on #962
When are we going to see these both pictures used on twitter and facebook?

[2018-06-11 08:22] karindr commented on #237
See also: The Continuum of Openness http://www.oel.edu.au/resource/

[2018-06-11 08:23] trugwaldsaenger commented on #611
Seems to get more important since we have more activity on the platform. So I`ll give this a Prio 1.

[2018-06-11 08:56] trugwaldsaenger opened #1572 "How to handle courses?"
As discussed with @karindr last week, we have an issue with the classification of courses. They can appear in three different forms:

1) As **publications**: In some cases we have only the course material available. In this case the course is a publication, which is made out of several other publications.
Example: https://oerworldmap.org/resource/urn%3Auuid%3A2ba2ffce-4d50-40fc-bc58-3c3431d82d78?

[2018-06-11 09:18] karindr commented on #611
We have 8 new projects that should be changed to services. It would be great to have an easy way to do this.

[2018-06-11 10:01] karindr commented on #1563
This is the same with "place" as heading1 and "country", "region" and "address" a heading2 .

[2018-06-11 10:07] karindr opened #1573 "DSGVO concerning bolg comments with Akismet"
In the Wordpress dashbord there is an information on comments:

"Akismet & Privacy.

To help your site be compliant with GDPR and other laws requiring notification of tracking, Akismet can display a notice to your users under your comment forms. This feature is disabled by default, however, if you or your audience are located in Europe, you need to turn it on.

Please enable or disable this featur

[2018-06-11 10:11] drrobertfarrow commented on #1573
We should probably switch it on - especially as the site is hosted in
Germany... better to be safe than sorry

On Mon, Jun 11, 2018 at 11:07 AM Karin Driesen <notifications@github.com>
wrote:

--
Dr. Robert Farrow
@philosopher1978
http://philosopher1978.wordpress.com/